"""classical_models.ipynb
by: Archie Gertsman (arkadiy2@illinois.edu)
Project director: Richard Sowers
r-sowers@illinois.eduhttps://publish.illinois.edu/r-sowers/
Copyright 2019 University of Illinois Board of Trustees. All Rights Reserved. Licensed under the MIT license
"""

In [1]:
import warnings; warnings.simplefilter('ignore')

In [2]:

import pandas as pd
import numpy as np
from feature_eng import split_trajectories
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_pickle('block4_concat_lane.pkl')
#df = pd.read_pickle('block4_edge_filter.pkl')
df.head()

                          lat        lon    speed  lon_acc  lat_acc  type  \
file_name id time
4_1       1  42.00  37.982746  23.732961  11.9046  -0.1145   0.0138  Taxi
             42.04  37.982746  23.732963  11.8975  -0.1007   0.0147  Taxi
             42.08  37.982747  23.732964  11.8919  -0.0918   0.0157  Taxi
             42.12  37.982748  23.732965  11.8871  -0.0869   0.0167  Taxi
             42.16  37.982748  23.732966  11.8831  -0.0784   0.0176  Taxi

                    traveled_d  avg_speed   bearing  nearest_edge_start_node  \
file_name id time
4_1       1  42.00      182.37   9.740748  1.570795                250699362
             42.04      182.37   9.740748  0.168572                250699362
             42.08      182.37   9.740748  0.168573                250699362
             42.12      182.37   9.740748  1.570796                250699362
             42.16      182.37   9.740748  0.328080                250699362

                    ...  xtrack_dist  time_stamp  edge_progress_intervals  \
file_name id time   ...
4_1       1  42.00  ...    -1.883401       42.00                      0.3
             42.04  ...    -1.980795       42.04                      0.3
             42.08  ...    -1.937041       42.08                      0.3
             42.12  ...    -1.893287       42.12                      0.3
             42.16  ...    -1.941984       42.16                      0.3

                                edge_id     len  lanes node_veh_dist  \
file_name id time
4_1       1  42.00  250699362_250699984  97.581    5.4     29.814330
             42.04  250699362_250699984  97.581    5.4     29.674830
             42.08  250699362_250699984  97.581    5.4     29.537753
             42.12  250699362_250699984  97.581    5.4     29.400718
             42.16  250699362_250699984  97.581    5.4     29.330986

                    edge_seg  vehicle_density  avg_surr_speed
file_name id time
4_1       1  42.00       1.0                7       10.464171
             42.04       1.0                7       10.457843
             42.08       1.0                7       10.452857
             42.12       1.0                7       10.448586
             42.16       1.0                7       10.444986

[5 rows x 23 columns]

In [4]:
#adding edge_id to the index
df.index = df.reset_index().set_index(['file_name','id','edge_id','time']).index
df.drop(['edge_id'],inplace = True,axis = 1)
df.head()

                                              lat        lon    speed  \
file_name id edge_id             time
4_1       1  250699362_250699984 42.00  37.982746  23.732961  11.9046
                                 42.04  37.982746  23.732963  11.8975
                                 42.08  37.982747  23.732964  11.8919
                                 42.12  37.982748  23.732965  11.8871
                                 42.16  37.982748  23.732966  11.8831

                                        lon_acc  lat_acc  type  traveled_d  \
file_name id edge_id             time
4_1       1  250699362_250699984 42.00  -0.1145   0.0138  Taxi      182.37
                                 42.04  -0.1007   0.0147  Taxi      182.37
                                 42.08  -0.0918   0.0157  Taxi      182.37
                                 42.12  -0.0869   0.0167  Taxi      182.37
                                 42.16  -0.0784   0.0176  Taxi      182.37

                                        avg_speed   bearing  \
file_name id edge_id             time
4_1       1  250699362_250699984 42.00   9.740748  1.570795
                                 42.04   9.740748  0.168572
                                 42.08   9.740748  0.168573
                                 42.12   9.740748  1.570796
                                 42.16   9.740748  0.328080

                                        nearest_edge_start_node  ...  dir  \
file_name id edge_id             time                            ...
4_1       1  250699362_250699984 42.00                250699362  ...    0
                                 42.04                250699362  ...    0
                                 42.08                250699362  ...    0
                                 42.12                250699362  ...    0
                                 42.16                250699362  ...    0

                                        xtrack_dist  time_stamp  \
file_name id edge_id             time
4_1       1  250699362_250699984 42.00    -1.883401       42.00
                                 42.04    -1.980795       42.04
                                 42.08    -1.937041       42.08
                                 42.12    -1.893287       42.12
                                 42.16    -1.941984       42.16

                                        edge_progress_intervals     len  \
file_name id edge_id             time
4_1       1  250699362_250699984 42.00                      0.3  97.581
                                 42.04                      0.3  97.581
                                 42.08                      0.3  97.581
                                 42.12                      0.3  97.581
                                 42.16                      0.3  97.581

                                        lanes  node_veh_dist  edge_seg  \
file_name id edge_id             time
4_1       1  250699362_250699984 42.00    5.4      29.814330       1.0
                                 42.04    5.4      29.674830       1.0
                                 42.08    5.4      29.537753       1.0
                                 42.12    5.4      29.400718       1.0
                                 42.16    5.4      29.330986       1.0

                                        vehicle_density  avg_surr_speed
file_name id edge_id             time
4_1       1  250699362_250699984 42.00                7       10.464171
                                 42.04                7       10.457843
                                 42.08                7       10.452857
                                 42.12                7       10.448586
                                 42.16                7       10.444986

[5 rows x 22 columns]

In [5]:
#finding difference between cross track distance between adjacent rows
def __xtrack_dist_diff(df):
    """splits a vehicle trajectory into smaller trajectories of fixed size and removes
    the last (len(df) mod size) riws
    """
    
    df["xtrack_diff"] = df.loc[:,['xtrack_dist']]- df.loc[:,['xtrack_dist']].shift(-1)
    df["xtrack_diff"]=df['xtrack_diff'].fillna(0)
    return df


df = df.groupby(['file_name','id','edge_id'], as_index=False, group_keys=False) \
            .apply(__xtrack_dist_diff)

In [6]:
#Split trajectories with overlap
def split_trajectories_overlap(df, size, overlap):
    """splits each vehicle's trajectory into smaller trajectories of fixed size,
    adding another dimension to the multiindex. Data is truncated to be a multiple
    of `size` in length. 
    Example usage:
        df = csv_to_df('sample.csv')
        df = split_trajectories(df, 3000)
    """
    overlap = 1-overlap
    if overlap == 0:
        return split_trajectories(df,size)
    else:
        df1 = df.groupby(['id','file_name',"edge_id"], as_index=False, group_keys=False) \
                .apply(__split_vehicle, size)

        for i in range(1,int(1/overlap)):
            """ remove x rows from each group and then split the trajectory. 
            eg: say the overlap is 50% with traj_lens = 300, when i = 1, delete first 150 rows and then split trajectory from 
            150-450,450-750 etc
            """
            df2 = df.groupby(['id','file_name',"edge_id"], as_index=False, group_keys=False) \
                .apply(__remove_initial_rows, int(i*overlap*size))
            df2 = df2.groupby(['id','file_name',"edge_id"], as_index=False, group_keys=False) \
                .apply(__split_vehicle, size)
            
            #give different trajectory name for each overlap iteration
            df2.index = df2.index.set_levels(df2.index.levels[3].astype(str) + '_'+str(i), level=3)
            
            #concatenate dataframes one below the other
            df1 = pd.concat([df1,df2],axis = 0)

        return df1

def __remove_initial_rows(df,ele):
    #if ele > number of rows, remedy the error by returning none
    try:
        df1 = df[ele:]
    except TypeError:
        df1 = None
  
    return df1

def __split_vehicle(df, size):
    """splits a vehicle trajectory into smaller trajectories of fixed size and removes
    the last (len(df) mod size) riws
    """
    df2 = df.copy()
    df2['traj'] = None
    df2.loc[::size, 'traj'] = np.arange(len(df2[::size]), dtype=int)
    df2['traj'].ffill(inplace=True)
    df2.set_index('traj', append=True, inplace=True)
    df2 = __truncate_trajectory(df2, size)
    df2 = df2.reorder_levels([0,1,2,4,3])
    return df2


def __truncate_to_multiple(n, m):
    return m * (n // m)

def __truncate_trajectory(traj, size):
    n = len(traj)
    new_len = __truncate_to_multiple(n, size)
    return traj[:new_len]

In [13]:
def agg(df,is_validation_set = False):
    
    df['xtrack_diff_sq'] = df['xtrack_diff']**2
    df_agg = df[np.isin(df['type'], ['Car','Taxi'])] \
        .groupby(['file_name','id', 'edge_id','traj']).agg({
            'xtrack_diff_sq': ['mean','std','skew','max','min',pd.DataFrame.kurt,'sum'],
            'xtrack_diff': ['mean','std','skew',pd.DataFrame.kurt],
            'xtrack_dist': ['mean','std','skew',pd.DataFrame.kurt],
            'avg_surr_speed': ['mean','std','skew',pd.DataFrame.kurt],
            'lanes':['mean'],
            'len':['mean'],
            'speed':['mean','std','skew',pd.DataFrame.kurt,'sum'],
            'vehicle_density': ['mean','std','skew',pd.DataFrame.kurt],
            'lon_acc': ['mean','std','max','min','skew', pd.DataFrame.kurt],
            'lat_acc': ['mean','std','max','min', 'skew', pd.DataFrame.kurt],
            'type': 'first'
        }) \
        
    df_agg.columns = ['_'.join(col) for col in df_agg.columns]
    df_agg.speed_sum = df_agg.speed_sum*0.04
    df_agg.rename(columns={'type_first':'type'}, inplace=True)
    
    if is_validation_set == False:
        g = df_agg.groupby('type')
        df_agg = g.apply(lambda group: group.sample(g.size().min())).reset_index(drop=True)
        X,y = df_agg.drop('type', axis=1), df_agg['type']
        return X,y
    
    else:
        #df_agg = g.apply(lambda group: group.sample(g.size().min()))
        X,y = df_agg.drop('type', axis=1), df_agg['type']
        return X,y

In [38]:
def train_and_accuracy(X_train,y_train,X_test,y_test, model):

    model.fit(X_train, y_train)
    y_hat = model.predict(X_test)
    a = y_hat==y_test
    
    f = f1_score((y_test == 'Car').astype(int),(y_hat == 'Car').astype(int))
    return len(a[a==True]) / len(y_test),f

def val_voting_accuracy(X_train,y_train,X_val,y_val, model,by_edge = False):

    model.fit(X_train, y_train)
    y_hat = model.predict(X_val)
    if by_edge == False:
        y_hat = pd.DataFrame(index = y_val.index,data = y_hat,columns = ['type'])

        #predicted value for the entire trajectory would be the mode of the predicted labels
        y_hat = y_hat.groupby(['file_name','id']).apply(lambda group: pd.Series.mode(group['type'])[0])
        y_test = y_val.groupby(['file_name','id']).first(['type'])
    else:
        y_hat = pd.DataFrame(index = y_val.index,data = y_hat,columns = ['type'])

        #predicted value for the entire trajectory would be the mode of the predicted labels
        y_hat = y_hat.groupby(['file_name','id','edge_id']).apply(lambda group: pd.Series.mode(group['type'])[0])
        y_test = y_val.groupby(['file_name','id','edge_id']).first(['type'])

    a = y_hat==y_test
   
    f = f1_score((y_test == 'Car').astype(int),(y_hat == 'Car').astype(int))
    return len(a[a==True]) / len(y_test),f

In [50]:

def validation_set(df,test_size):
    """dataframe is split based on their vehicle id's"""
    df1 = df.reset_index()[["file_name",'id','type']].drop_duplicates()
    X = df1[["file_name","id"]]
    y = df1['type']
    X_train,X_test,_,y_test = train_test_split(X, y, test_size=test_size, random_state=4, stratify=y) 
    df_train = df[df.index.droplevel(['time','edge_id']).isin(X_train.set_index(['file_name','id']).index)]
    X_test['type'] = y_test
    g = X_test.groupby('type')
    X_test = g.apply(lambda group: group.sample(g.size().min())).reset_index(drop = True)
    df_test = df[df.index.droplevel(['time','edge_id']).isin(X_test.set_index(['file_name','id']).index)]
    return df_train,df_test

def process_traj(df2,traj_len,overlap,speed_limit,min_movement_limit,vehicle_density_limit = None):
    """ the trajectories are split into smaller trajectories of fixed size traj_len"""
    df2 = split_trajectories_overlap(df2, traj_len, overlap)
    df3 = df2.reset_index()[["id","file_name","edge_id","traj","speed"]]
    
    #consider only those trajectories which move at a minimum speed of speed_limit for min_movement_limit%
    df3["speed_bool"]= df3["speed"]>speed_limit
    df3 = df3.groupby(["file_name","id","edge_id","traj"]).sum(["speed_bool"])
    df2 = df2[df2.index.droplevel(4).isin(df3[df3.speed_bool >= traj_len*min_movement_limit].index.to_list())]
    
    #filter trajectory by minimum vehicle_density_limit
    if vehicle_density_limit == None:
        return df2
    
    else:
        df3 = df2.reset_index()[["id","file_name","edge_id","traj","vehicle_density"]]
        df3 = df3.groupby(["file_name","id","edge_id","traj"]).mean(["vehicle_density"])
        df2 = df2[df2.index.droplevel(4).isin(df3[df3.vehicle_density >= vehicle_density_limit].index.to_list())]
        
        return df2

In [48]:

traj_lens = np.arange(300,450, step=50)
models = {
        'Random Forest': Pipeline([('scaler', StandardScaler()), ('rf', RandomForestClassifier())]),
        'AdaBoost':Pipeline([('scaler', StandardScaler()), ('abc', AdaBoostClassifier())]) ,
        'SVM': Pipeline([('scaler', StandardScaler()), ('svc', SVC(max_iter=10000))]) ,
        'Log Regression': Pipeline([('scaler', StandardScaler()), ('lr', LogisticRegression(max_iter=10000))]) 
    }

df_acc = pd.DataFrame(index=pd.MultiIndex.from_product([models.keys(),['f1_score','accuracy'], ['mean','std']]))
overlap = 0.6
min_movement_limit = 0.75
speed_limit = 0
k = 5
validation_ratio = 0.2
kf = StratifiedKFold(n_splits=k, shuffle=True)
accs = np.zeros(k)
f1 = np.zeros(k)


for traj_len in traj_lens:

    #get length of trajectory in each id
    df_traj_list = df.groupby(['file_name','id','edge_id',]).count()['lat']
    
    #limit trajectory length to greater than traj_len
    df_traj_list = df_traj_list[df_traj_list>= traj_len]
    df2 = df[df.index.droplevel('time').isin(df_traj_list.index.to_list())].copy()
    df_train,df_val = validation_set(df2,validation_ratio)
    
    #process trajectories further
    df_train = process_traj(df_train,traj_len,overlap,speed_limit,min_movement_limit)
    df_val = process_traj(df_val,traj_len,overlap,speed_limit,min_movement_limit)

    #aggregate trajectories
    X,y = agg(df_train)
    #include index for validation dataframes (needed for voting method)
    X_val,y_val = agg(df_val,True)

    #store percent cars and taxis
    print("No of trajectories: ",len(X))
    df_acc.loc[('traj_len','traj_len','total'), (str(traj_len)+'_kfold')] = len(X)
    df_acc.loc[('traj_len','percent','Car'), (str(traj_len)+'_kfold')] = sum(y == 'Car')/len(X)
    df_acc.loc[('traj_len','percent','Taxi'), (str(traj_len)+'_kfold')] = sum(y == 'Taxi')/ len(X)
    
    woedge_count = y_val.reset_index(['traj','edge_id'],drop = True).reset_index().drop_duplicates()
    df_acc.loc[('traj_len','traj_len','total'), (str(traj_len)+'_val_woedge')] = len(woedge_count)
    df_acc.loc[('traj_len','percent','Car'), (str(traj_len)+'_val_woedge')] = sum(woedge_count.type == 'Car')/len(woedge_count)
    df_acc.loc[('traj_len','percent','Taxi'), (str(traj_len)+'_val_woedge')] =sum(woedge_count.type == 'Taxi')/len(woedge_count)
    
    by_edge_count = y_val.reset_index('traj',drop = True).reset_index().drop_duplicates()
    df_acc.loc[('traj_len','traj_len','total'), (str(traj_len)+'_val_by_edge')] = len(by_edge_count)
    df_acc.loc[('traj_len','percent','Car'), (str(traj_len)+'_val_by_edge')] = sum(by_edge_count.type == 'Car')/len(by_edge_count)
    df_acc.loc[('traj_len','percent','Taxi'), (str(traj_len)+'_val_by_edge')] = sum(by_edge_count.type == 'Taxi')/len(by_edge_count)
    
    # fit different models
    for name, model in models.items():
        for i, (train_index, test_index) in enumerate(kf.split(X,y)):
            
            X_train, X_test = X.iloc[train_index], X.iloc[test_index]
            y_train, y_test = y.iloc[train_index], y.iloc[test_index]
            accs[i],f1[i] = train_and_accuracy(X_train, y_train,X_test,y_test, model)
        
        df_acc.loc[(name, 'accuracy','mean'), (str(traj_len)+'_kfold')] = round(100*accs.mean(), 3)
        df_acc.loc[(name, 'accuracy','std'), (str(traj_len)+'_kfold')] = round(100*accs.std(), 3)
        df_acc.loc[(name, 'f1_score','mean'),(str(traj_len)+'_kfold')] = round(100*f1.mean(), 3)
        df_acc.loc[(name, 'f1_score','std'), (str(traj_len)+'_kfold')] = round(100*f1.std(), 3)

        val_accs,val_f1 = val_voting_accuracy(X, y,X_val,y_val, model)
        df_acc.loc[(name, 'accuracy','mean'), (str(traj_len)+'_val_woedge')] = round(100*val_accs, 3)
        df_acc.loc[(name, 'f1_score','mean'),(str(traj_len)+'_val_woedge')] = round(100*val_f1, 3)
        
        val_accs,val_f1 = val_voting_accuracy(X, y,X_val,y_val, model,by_edge = True)
        df_acc.loc[(name, 'accuracy','mean'), (str(traj_len)+'_val_by_edge')] = round(100*val_accs, 3)
        df_acc.loc[(name, 'f1_score','mean'),(str(traj_len)+'_val_by_edge')] = round(100*val_f1, 3)

        print(name, 'complete.')

    print('trajectory length', traj_len, 'complete.')

df_acc

No of Cars in validation set 105, No of Taxis in validation set 105
No of trajectories:  2834
Random Forest complete.
AdaBoost complete.
SVM complete.
Log Regression complete.
trajectory length 300 complete.
No of Cars in validation set 95, No of Taxis in validation set 95
No of trajectories:  2058
Random Forest complete.
AdaBoost complete.
SVM complete.
Log Regression complete.
trajectory length 350 complete.
No of Cars in validation set 85, No of Taxis in validation set 85
No of trajectories:  1536
Random Forest complete.
AdaBoost complete.
SVM complete.
Log Regression complete.
trajectory length 400 complete.

                               300_kfold  300_val_woedge  300_val_by_edge  \
Random Forest  f1_score mean      61.249       61.611000        58.824000
                        std        2.346             NaN              NaN
               accuracy mean      62.173       60.099000        56.818000
                        std        1.546             NaN              NaN
AdaBoost       f1_score mean      58.278       61.165000        60.256000
                        std        0.946             NaN              NaN
               accuracy mean      60.339       60.591000        59.740000
                        std        1.317             NaN              NaN
SVM            f1_score mean      55.334       54.737000        54.417000
                        std        2.823             NaN              NaN
               accuracy mean      61.820       57.635000        58.117000
                        std        2.095             NaN              NaN
Log Regression f1_score mean      55.032       49.746000        50.676000
                        std        1.191             NaN              NaN
               accuracy mean      57.869       51.232000        52.597000
                        std        1.304             NaN              NaN
traj_len       traj_len total   2834.000      203.000000       308.000000
               percent  Car        0.500        0.487685         0.496753
                        Taxi       0.500        0.512315         0.503247

                               350_kfold  350_val_woedge  350_val_by_edge  \
Random Forest  f1_score mean      62.608       57.923000        54.980000
                        std        2.720             NaN              NaN
               accuracy mean      64.189       56.497000        54.980000
                        std        1.723             NaN              NaN
AdaBoost       f1_score mean      61.518       58.140000        56.432000
                        std        1.310             NaN              NaN
               accuracy mean      63.314       59.322000        58.167000
                        std        1.027             NaN              NaN
SVM            f1_score mean      57.992       52.500000        47.847000
                        std        3.813             NaN              NaN
               accuracy mean      63.267       57.062000        56.574000
                        std        2.905             NaN              NaN
Log Regression f1_score mean      53.678       50.314000        49.778000
                        std        3.262             NaN              NaN
               accuracy mean      58.065       55.367000        54.980000
                        std        1.797             NaN              NaN
traj_len       traj_len total   2058.000      177.000000       251.000000
               percent  Car        0.500        0.491525         0.478088
                        Taxi       0.500        0.508475         0.521912

                               400_kfold  400_val_woedge  400_val_by_edge
Random Forest  f1_score mean      58.631       56.757000        53.333000
                        std        4.567             NaN              NaN
               accuracy mean      60.413       56.463000        54.950000
                        std        3.886             NaN              NaN
AdaBoost       f1_score mean      56.080       51.471000        52.747000
                        std        2.463             NaN              NaN
               accuracy mean      58.141       55.102000        57.426000
                        std        3.052             NaN              NaN
SVM            f1_score mean      52.883       53.226000        51.534000
                        std        4.682             NaN              NaN
               accuracy mean      59.830       60.544000        60.891000
                        std        3.526             NaN              NaN
Log Regression f1_score mean      53.030       50.769000        47.619000
                        std        3.446             NaN              NaN
               accuracy mean      58.009       56.463000        56.436000
                        std        2.402             NaN              NaN
traj_len       traj_len total   1536.000      147.000000       202.000000
               percent  Car        0.500        0.482993         0.465347
                        Taxi       0.500        0.517007         0.534653

In [52]:
from IPython.display import display
traj_lens = np.arange(200,450, step=50)
df_acc = pd.DataFrame(index=pd.MultiIndex.from_product([models.keys(),['f1_score','accuracy'], ['mean','std']]))
overlap = 0.7
min_movement_limit = 0.75
speed_limit = 0
k = 5
validation_ratio = 0.2
kf = StratifiedKFold(n_splits=k, shuffle=True)
accs = np.zeros(k)
f1 = np.zeros(k)

for j in range(0,6):
    
    for traj_len in traj_lens:

        #get length of trajectory in each id
        df_traj_list = df.groupby(['file_name','id','edge_id',]).count()['lat']

        #limit trajectory length to greater than traj_len
        df_traj_list = df_traj_list[df_traj_list>= traj_len]
        df2 = df[df.index.droplevel('time').isin(df_traj_list.index.to_list())].copy()
        df_train,df_val = validation_set(df2,validation_ratio)

        #process trajectories further
        df_train = process_traj(df_train,traj_len,overlap,speed_limit,min_movement_limit,j)
        df_val = process_traj(df_val,traj_len,overlap,speed_limit,min_movement_limit,j)

        #aggregate trajectories
        X,y = agg(df_train)
        #include index for validation dataframes (needed for voting method)
        X_val,y_val = agg(df_val,True)

        #store percent cars and taxis
       
        df_acc.loc[('traj_len','traj_len','total'), (str(traj_len)+'_kfold')] = len(X)
        df_acc.loc[('traj_len','percent','Car'), (str(traj_len)+'_kfold')] = sum(y == 'Car')/len(X)
        df_acc.loc[('traj_len','percent','Taxi'), (str(traj_len)+'_kfold')] = sum(y == 'Taxi')/ len(X)

        woedge_count = y_val.reset_index(['traj','edge_id'],drop = True).reset_index().drop_duplicates()
        df_acc.loc[('traj_len','traj_len','total'), (str(traj_len)+'_val_woedge')] = len(woedge_count)
        df_acc.loc[('traj_len','percent','Car'), (str(traj_len)+'_val_woedge')] = sum(woedge_count.type == 'Car')/len(woedge_count)
        df_acc.loc[('traj_len','percent','Taxi'), (str(traj_len)+'_val_woedge')] =sum(woedge_count.type == 'Taxi')/len(woedge_count)

        by_edge_count = y_val.reset_index('traj',drop = True).reset_index().drop_duplicates()
        df_acc.loc[('traj_len','traj_len','total'), (str(traj_len)+'_val_by_edge')] = len(by_edge_count)
        df_acc.loc[('traj_len','percent','Car'), (str(traj_len)+'_val_by_edge')] = sum(by_edge_count.type == 'Car')/len(by_edge_count)
        df_acc.loc[('traj_len','percent','Taxi'), (str(traj_len)+'_val_by_edge')] = sum(by_edge_count.type == 'Taxi')/len(by_edge_count)

        # fit different models
        for name, model in models.items():
            for i, (train_index, test_index) in enumerate(kf.split(X,y)):

                X_train, X_test = X.iloc[train_index], X.iloc[test_index]
                y_train, y_test = y.iloc[train_index], y.iloc[test_index]
                accs[i],f1[i] = train_and_accuracy(X_train, y_train,X_test,y_test, model)

            df_acc.loc[(name, 'accuracy','mean'), (str(traj_len)+'_kfold')] = round(100*accs.mean(), 3)
            df_acc.loc[(name, 'accuracy','std'), (str(traj_len)+'_kfold')] = round(100*accs.std(), 3)
            df_acc.loc[(name, 'f1_score','mean'),(str(traj_len)+'_kfold')] = round(100*f1.mean(), 3)
            df_acc.loc[(name, 'f1_score','std'), (str(traj_len)+'_kfold')] = round(100*f1.std(), 3)

            val_accs,val_f1 = val_voting_accuracy(X, y,X_val,y_val, model)
            df_acc.loc[(name, 'accuracy','mean'), (str(traj_len)+'_val_woedge')] = round(100*val_accs, 3)
            df_acc.loc[(name, 'f1_score','mean'),(str(traj_len)+'_val_woedge')] = round(100*val_f1, 3)

            val_accs,val_f1 = val_voting_accuracy(X, y,X_val,y_val, model,by_edge = True)
            df_acc.loc[(name, 'accuracy','mean'), (str(traj_len)+'_val_by_edge')] = round(100*val_accs, 3)
            df_acc.loc[(name, 'f1_score','mean'),(str(traj_len)+'_val_by_edge')] = round(100*val_f1, 3)

            #print(name, 'complete.')
            
        print('model fitting for ', traj_len, ' complete.')

    print("\n vehicle density >= ",j)
    display(df_acc)

model fitting for  200  complete.
model fitting for  250  complete.
model fitting for  300  complete.
model fitting for  350  complete.
model fitting for  400  complete.

 vehicle density >=  0

                               200_kfold  200_val_woedge  200_val_by_edge  \
Random Forest  f1_score mean      65.233       65.942000        61.538000
                        std        0.722             NaN              NaN
               accuracy mean      66.531       62.249000        59.397000
                        std        0.540             NaN              NaN
AdaBoost       f1_score mean      59.760       61.654000        60.137000
                        std        1.440             NaN              NaN
               accuracy mean      62.035       59.036000        59.397000
                        std        1.037             NaN              NaN
SVM            f1_score mean      58.221       61.355000        57.416000
                        std        1.194             NaN              NaN
               accuracy mean      63.334       61.044000        58.701000
                        std        0.730             NaN              NaN
Log Regression f1_score mean      54.070       52.066000        52.217000
                        std        1.307             NaN              NaN
               accuracy mean      57.514       53.414000        54.988000
                        std        1.180             NaN              NaN
traj_len       traj_len total   7852.000      249.000000       431.000000
               percent  Car        0.500        0.497992         0.484919
                        Taxi       0.500        0.502008         0.515081

                               250_kfold  250_val_woedge  250_val_by_edge  \
Random Forest  f1_score mean      64.306       59.289000         61.74900
                        std        2.206             NaN              NaN
               accuracy mean      65.474       54.425000         58.08400
                        std        2.257             NaN              NaN
AdaBoost       f1_score mean      60.094       59.504000         58.38200
                        std        1.161             NaN              NaN
               accuracy mean      61.465       56.637000         56.88600
                        std        1.049             NaN              NaN
SVM            f1_score mean      58.121       62.447000         62.27500
                        std        1.616             NaN              NaN
               accuracy mean      61.990       60.619000         62.27500
                        std        1.120             NaN              NaN
Log Regression f1_score mean      54.365       56.621000         55.94900
                        std        1.999             NaN              NaN
               accuracy mean      57.157       57.965000         58.98200
                        std        2.022             NaN              NaN
traj_len       traj_len total   5338.000      226.000000        334.00000
               percent  Car        0.500        0.495575          0.47006
                        Taxi       0.500        0.504425          0.52994

                               300_kfold  300_val_woedge  300_val_by_edge  \
Random Forest  f1_score mean      64.647       60.194000        60.328000
                        std        0.631             NaN              NaN
               accuracy mean      66.110       59.406000        59.259000
                        std        0.731             NaN              NaN
AdaBoost       f1_score mean      59.323       58.128000        55.862000
                        std        2.745             NaN              NaN
               accuracy mean      61.897       57.921000        56.902000
                        std        2.131             NaN              NaN
SVM            f1_score mean      59.488       53.886000        53.091000
                        std        0.854             NaN              NaN
               accuracy mean      64.671       55.941000        56.566000
                        std        0.646             NaN              NaN
Log Regression f1_score mean      54.873       44.086000        47.015000
                        std        1.980             NaN              NaN
               accuracy mean      59.070       48.515000        52.189000
                        std        1.063             NaN              NaN
traj_len       traj_len total   3892.000      202.000000       297.000000
               percent  Car        0.500        0.485149         0.478114
                        Taxi       0.500        0.514851         0.521886

                               350_kfold  350_val_woedge  350_val_by_edge  \
Random Forest  f1_score mean      65.761       56.995000         56.58900
                        std        2.320             NaN              NaN
               accuracy mean      67.192       52.841000         55.55600
                        std        2.215             NaN              NaN
AdaBoost       f1_score mean      59.863       58.824000         56.65200
                        std        1.961             NaN              NaN
               accuracy mean      62.134       60.227000         59.92100
                        std        1.623             NaN              NaN
SVM            f1_score mean      58.913       55.000000         51.37600
                        std        1.899             NaN              NaN
               accuracy mean      64.406       59.091000         57.93700
                        std        0.563             NaN              NaN
Log Regression f1_score mean      55.462       53.086000         50.90900
                        std        2.364             NaN              NaN
               accuracy mean      59.933       56.818000         57.14300
                        std        1.931             NaN              NaN
traj_len       traj_len total   2728.000      176.000000        252.00000
               percent  Car        0.500        0.488636          0.47619
                        Taxi       0.500        0.511364          0.52381

                               400_kfold  400_val_woedge  400_val_by_edge
Random Forest  f1_score mean      63.236       60.759000        60.274000
                        std        2.083             NaN              NaN
               accuracy mean      65.078       59.740000        59.155000
                        std        1.791             NaN              NaN
AdaBoost       f1_score mean      57.491       60.000000        56.716000
                        std        1.248             NaN              NaN
               accuracy mean      59.627       61.039000        59.155000
                        std        1.262             NaN              NaN
SVM            f1_score mean      55.927       57.143000        53.631000
                        std        2.172             NaN              NaN
               accuracy mean      61.740       61.039000        61.033000
                        std        1.454             NaN              NaN
Log Regression f1_score mean      51.938       56.338000        51.397000
                        std        2.011             NaN              NaN
               accuracy mean      57.712       59.740000        59.155000
                        std        1.131             NaN              NaN
traj_len       traj_len total   2036.000      154.000000       213.000000
               percent  Car        0.500        0.506494         0.492958
                        Taxi       0.500        0.493506         0.507042

model fitting for  200  complete.
model fitting for  250  complete.
model fitting for  300  complete.
model fitting for  350  complete.
model fitting for  400  complete.

 vehicle density >=  1

                               200_kfold  200_val_woedge  200_val_by_edge  \
Random Forest  f1_score mean      64.648       65.152000        62.896000
                        std        1.018             NaN              NaN
               accuracy mean      66.174       62.449000        61.682000
                        std        0.908             NaN              NaN
AdaBoost       f1_score mean      58.234       59.350000        56.872000
                        std        0.980             NaN              NaN
               accuracy mean      61.220       59.184000        57.477000
                        std        0.853             NaN              NaN
SVM            f1_score mean      57.815       59.504000        56.235000
                        std        1.240             NaN              NaN
               accuracy mean      62.761       60.000000        58.178000
                        std        1.377             NaN              NaN
Log Regression f1_score mean      53.072       49.785000        53.165000
                        std        1.992             NaN              NaN
               accuracy mean      56.864       52.245000        56.776000
                        std        1.370             NaN              NaN
traj_len       traj_len total   7852.000      245.000000       428.000000
               percent  Car        0.500        0.489796         0.481308
                        Taxi       0.500        0.510204         0.518692

                               250_kfold  250_val_woedge  250_val_by_edge  \
Random Forest  f1_score mean      64.975       61.905000        60.641000
                        std        1.516             NaN              NaN
               accuracy mean      65.980       56.951000        58.589000
                        std        1.207             NaN              NaN
AdaBoost       f1_score mean      59.111       63.415000        60.694000
                        std        0.800             NaN              NaN
               accuracy mean      61.240       59.641000        58.282000
                        std        0.550             NaN              NaN
SVM            f1_score mean      59.077       63.559000        60.923000
                        std        2.024             NaN              NaN
               accuracy mean      62.852       61.435000        61.043000
                        std        1.650             NaN              NaN
Log Regression f1_score mean      54.695       59.193000        54.305000
                        std        2.141             NaN              NaN
               accuracy mean      58.075       59.193000        57.669000
                        std        1.979             NaN              NaN
traj_len       traj_len total   5338.000      223.000000       326.000000
               percent  Car        0.500        0.488789         0.457055
                        Taxi       0.500        0.511211         0.542945

                               300_kfold  300_val_woedge  300_val_by_edge  \
Random Forest  f1_score mean      63.857       64.815000        67.524000
                        std        1.330             NaN              NaN
               accuracy mean      65.442       62.376000        65.878000
                        std        0.854             NaN              NaN
AdaBoost       f1_score mean      59.921       61.165000        59.310000
                        std        1.243             NaN              NaN
               accuracy mean      62.333       60.396000        60.135000
                        std        0.451             NaN              NaN
SVM            f1_score mean      57.004       61.307000        60.993000
                        std        0.702             NaN              NaN
               accuracy mean      63.258       61.881000        62.838000
                        std        1.102             NaN              NaN
Log Regression f1_score mean      53.839       57.286000        58.065000
                        std        2.126             NaN              NaN
               accuracy mean      57.888       57.921000        60.473000
                        std        2.336             NaN              NaN
traj_len       traj_len total   3892.000      202.000000       296.000000
               percent  Car        0.500        0.485149         0.476351
                        Taxi       0.500        0.514851         0.523649

                               350_kfold  350_val_woedge  350_val_by_edge  \
Random Forest  f1_score mean      63.830       58.696000        56.031000
                        std        1.307             NaN              NaN
               accuracy mean      66.166       56.818000        55.686000
                        std        1.023             NaN              NaN
AdaBoost       f1_score mean      58.319       56.977000        58.065000
                        std        1.570             NaN              NaN
               accuracy mean      60.300       57.955000        59.216000
                        std        1.205             NaN              NaN
SVM            f1_score mean      55.858       52.980000        51.163000
                        std        1.852             NaN              NaN
               accuracy mean      62.830       59.659000        58.824000
                        std        1.306             NaN              NaN
Log Regression f1_score mean      53.742       52.500000        50.224000
                        std        1.517             NaN              NaN
               accuracy mean      57.844       56.818000        56.471000
                        std        0.787             NaN              NaN
traj_len       traj_len total   2728.000      176.000000       255.000000
               percent  Car        0.500        0.488636         0.482353
                        Taxi       0.500        0.511364         0.517647

                               400_kfold  400_val_woedge  400_val_by_edge
Random Forest  f1_score mean      62.492       54.667000        53.000000
                        std        1.509             NaN              NaN
               accuracy mean      64.146       54.967000        54.369000
                        std        0.953             NaN              NaN
AdaBoost       f1_score mean      57.222       60.131000        57.000000
                        std        2.939             NaN              NaN
               accuracy mean      58.839       59.603000        58.252000
                        std        2.801             NaN              NaN
SVM            f1_score mean      56.427       57.353000        56.000000
                        std        1.165             NaN              NaN
               accuracy mean      61.493       61.589000        62.621000
                        std        0.764             NaN              NaN
Log Regression f1_score mean      53.726       49.624000        50.867000
                        std        1.169             NaN              NaN
               accuracy mean      57.858       55.629000        58.738000
                        std        1.683             NaN              NaN
traj_len       traj_len total   2036.000      151.000000       206.000000
               percent  Car        0.500        0.496689         0.475728
                        Taxi       0.500        0.503311         0.524272

model fitting for  200  complete.
model fitting for  250  complete.
model fitting for  300  complete.
model fitting for  350  complete.
model fitting for  400  complete.

 vehicle density >=  2

                               200_kfold  200_val_woedge  200_val_by_edge  \
Random Forest  f1_score mean      66.535       62.626000        56.705000
                        std        1.909             NaN              NaN
               accuracy mean      67.400       58.192000        55.336000
                        std        1.791             NaN              NaN
AdaBoost       f1_score mean      59.786       58.242000        56.574000
                        std        1.870             NaN              NaN
               accuracy mean      61.391       57.062000        56.917000
                        std        1.582             NaN              NaN
SVM            f1_score mean      58.421       58.427000        55.319000
                        std        1.489             NaN              NaN
               accuracy mean      63.221       58.192000        58.498000
                        std        1.298             NaN              NaN
Log Regression f1_score mean      55.889       58.242000        55.833000
                        std        1.371             NaN              NaN
               accuracy mean      58.894       57.062000        58.103000
                        std        1.030             NaN              NaN
traj_len       traj_len total   5408.000      177.000000       253.000000
               percent  Car        0.500        0.497175         0.474308
                        Taxi       0.500        0.502825         0.525692

                               250_kfold  250_val_woedge  250_val_by_edge  \
Random Forest  f1_score mean      65.942       63.102000        58.871000
                        std        1.496             NaN              NaN
               accuracy mean      66.143       57.407000        55.263000
                        std        1.657             NaN              NaN
AdaBoost       f1_score mean      61.059       60.541000        57.613000
                        std        1.390             NaN              NaN
               accuracy mean      61.950       54.938000        54.825000
                        std        1.171             NaN              NaN
SVM            f1_score mean      58.624       59.756000        59.193000
                        std        2.481             NaN              NaN
               accuracy mean      61.923       59.259000        60.088000
                        std        1.840             NaN              NaN
Log Regression f1_score mean      57.185       61.176000        56.637000
                        std        1.235             NaN              NaN
               accuracy mean      59.854       59.259000        57.018000
                        std        1.647             NaN              NaN
traj_len       traj_len total   3816.000      162.000000       228.000000
               percent  Car        0.500        0.475309         0.451754
                        Taxi       0.500        0.524691         0.548246

                               300_kfold  300_val_woedge  300_val_by_edge  \
Random Forest  f1_score mean      65.140       57.516000        58.768000
                        std        1.664             NaN              NaN
               accuracy mean      66.437       56.081000        58.768000
                        std        1.153             NaN              NaN
AdaBoost       f1_score mean      61.146       58.065000        56.075000
                        std        0.782             NaN              NaN
               accuracy mean      62.046       56.081000        55.450000
                        std        1.187             NaN              NaN
SVM            f1_score mean      56.662       52.174000        50.777000
                        std        3.173             NaN              NaN
               accuracy mean      62.216       55.405000        54.976000
                        std        1.458             NaN              NaN
Log Regression f1_score mean      56.541       55.172000        54.455000
                        std        2.752             NaN              NaN
               accuracy mean      59.952       56.081000        56.398000
                        std        2.225             NaN              NaN
traj_len       traj_len total   2914.000      148.000000       211.000000
               percent  Car        0.500        0.486486         0.478673
                        Taxi       0.500        0.513514         0.521327

                               350_kfold  350_val_woedge  350_val_by_edge  \
Random Forest  f1_score mean      63.751       57.746000        59.375000
                        std        1.247             NaN              NaN
               accuracy mean      65.300       55.224000        57.609000
                        std        1.380             NaN              NaN
AdaBoost       f1_score mean      58.698       53.623000        53.191000
                        std        2.595             NaN              NaN
               accuracy mean      60.248       52.239000        52.174000
                        std        1.366             NaN              NaN
SVM            f1_score mean      55.769       55.118000        52.761000
                        std        1.550             NaN              NaN
               accuracy mean      61.487       57.463000        58.152000
                        std        0.906             NaN              NaN
Log Regression f1_score mean      55.884       54.264000        50.292000
                        std        1.351             NaN              NaN
               accuracy mean      59.770       55.970000        53.804000
                        std        1.082             NaN              NaN
traj_len       traj_len total   2098.000      134.000000       184.000000
               percent  Car        0.500        0.514925         0.505435
                        Taxi       0.500        0.485075         0.494565

                               400_kfold  400_val_woedge  400_val_by_edge
Random Forest  f1_score mean      60.016          58.065        52.229000
                        std        2.476             NaN              NaN
               accuracy mean      61.369          58.400        53.988000
                        std        1.296             NaN              NaN
AdaBoost       f1_score mean      55.097          55.385        54.545000
                        std        5.600             NaN              NaN
               accuracy mean      56.528          53.600        53.988000
                        std        5.011             NaN              NaN
SVM            f1_score mean      56.109          54.054        52.555000
                        std        2.478             NaN              NaN
               accuracy mean      60.678          59.200        60.123000
                        std        1.868             NaN              NaN
Log Regression f1_score mean      55.429          52.727        50.000000
                        std        2.174             NaN              NaN
               accuracy mean      58.104          58.400        58.282000
                        std        2.316             NaN              NaN
traj_len       traj_len total   1592.000         125.000       163.000000
               percent  Car        0.500           0.480         0.453988
                        Taxi       0.500           0.520         0.546012

model fitting for  200  complete.
model fitting for  250  complete.
model fitting for  300  complete.
model fitting for  350  complete.
model fitting for  400  complete.

 vehicle density >=  3

                               200_kfold  200_val_woedge  200_val_by_edge  \
Random Forest  f1_score mean      65.098          57.778        57.627000
                        std        1.087             NaN              NaN
               accuracy mean      64.610          54.400        52.532000
                        std        0.827             NaN              NaN
AdaBoost       f1_score mean      60.617          58.156        56.180000
                        std        1.481             NaN              NaN
               accuracy mean      60.773          52.800        50.633000
                        std        1.738             NaN              NaN
SVM            f1_score mean      59.414          58.647        56.098000
                        std        1.918             NaN              NaN
               accuracy mean      61.701          56.000        54.430000
                        std        1.279             NaN              NaN
Log Regression f1_score mean      59.570          52.381        52.564000
                        std        1.780             NaN              NaN
               accuracy mean      61.477          52.000        53.165000
                        std        1.174             NaN              NaN
traj_len       traj_len total   3128.000         125.000       158.000000
               percent  Car        0.500           0.496         0.487342
                        Taxi       0.500           0.504         0.512658

                               250_kfold  250_val_woedge  250_val_by_edge  \
Random Forest  f1_score mean      64.307       62.903000        56.552000
                        std        3.263             NaN              NaN
               accuracy mean      63.850       57.407000        52.632000
                        std        3.114             NaN              NaN
AdaBoost       f1_score mean      59.903       54.386000        54.015000
                        std        1.856             NaN              NaN
               accuracy mean      60.111       51.852000        52.632000
                        std        1.747             NaN              NaN
SVM            f1_score mean      57.963       55.172000        52.941000
                        std        1.952             NaN              NaN
               accuracy mean      60.526       51.852000        51.880000
                        std        1.911             NaN              NaN
Log Regression f1_score mean      58.405       60.504000        59.854000
                        std        3.534             NaN              NaN
               accuracy mean      59.421       56.481000        58.647000
                        std        3.000             NaN              NaN
traj_len       traj_len total   2166.000      108.000000       133.000000
               percent  Car        0.500        0.444444         0.428571
                        Taxi       0.500        0.555556         0.571429

                               300_kfold  300_val_woedge  300_val_by_edge  \
Random Forest  f1_score mean      64.455       58.407000        54.839000
                        std        2.764             NaN              NaN
               accuracy mean      63.699       55.238000        53.719000
                        std        2.602             NaN              NaN
AdaBoost       f1_score mean      57.842       58.182000        58.065000
                        std        3.429             NaN              NaN
               accuracy mean      58.208       56.190000        57.025000
                        std        2.841             NaN              NaN
SVM            f1_score mean      58.908       52.336000        47.458000
                        std        1.585             NaN              NaN
               accuracy mean      60.578       51.429000        48.760000
                        std        1.525             NaN              NaN
Log Regression f1_score mean      58.489       50.943000        48.739000
                        std        2.607             NaN              NaN
               accuracy mean      60.289       50.476000        49.587000
                        std        1.274             NaN              NaN
traj_len       traj_len total   1730.000      105.000000       121.000000
               percent  Car        0.500        0.504762         0.495868
                        Taxi       0.500        0.495238         0.504132

                               350_kfold  350_val_woedge  350_val_by_edge  \
Random Forest  f1_score mean      62.295          51.923        50.769000
                        std        0.634             NaN              NaN
               accuracy mean      60.787          48.980        45.763000
                        std        1.950             NaN              NaN
AdaBoost       f1_score mean      55.980          58.252        57.377000
                        std        3.256             NaN              NaN
               accuracy mean      56.600          56.122        55.932000
                        std        2.306             NaN              NaN
SVM            f1_score mean      60.561          54.545        52.632000
                        std        4.513             NaN              NaN
               accuracy mean      60.791          54.082        54.237000
                        std        4.406             NaN              NaN
Log Regression f1_score mean      55.422          60.606        57.627000
                        std        7.574             NaN              NaN
               accuracy mean      56.194          60.204        57.627000
                        std        4.987             NaN              NaN
traj_len       traj_len total   1242.000          98.000       118.000000
               percent  Car        0.500           0.500         0.491525
                        Taxi       0.500           0.500         0.508475

                               400_kfold  400_val_woedge  400_val_by_edge
Random Forest  f1_score mean      61.157        54.05400        54.118000
                        std        2.818             NaN              NaN
               accuracy mean      59.891        50.72500        51.852000
                        std        3.529             NaN              NaN
AdaBoost       f1_score mean      53.054        52.17400        48.718000
                        std        2.206             NaN              NaN
               accuracy mean      53.478        52.17400        50.617000
                        std        2.079             NaN              NaN
SVM            f1_score mean      55.978        48.38700        45.455000
                        std        1.627             NaN              NaN
               accuracy mean      57.283        53.62300        55.556000
                        std        1.597             NaN              NaN
Log Regression f1_score mean      54.347        54.54500        50.704000
                        std        1.351             NaN              NaN
               accuracy mean      54.891        56.52200        56.790000
                        std        2.147             NaN              NaN
traj_len       traj_len total    920.000        69.00000        81.000000
               percent  Car        0.500         0.42029         0.382716
                        Taxi       0.500         0.57971         0.617284

model fitting for  200  complete.
model fitting for  250  complete.
model fitting for  300  complete.
model fitting for  350  complete.
model fitting for  400  complete.

 vehicle density >=  4

                               200_kfold  200_val_woedge  200_val_by_edge  \
Random Forest  f1_score mean      65.611       53.846000        57.447000
                        std        1.626             NaN              NaN
               accuracy mean      65.213       48.571000        51.220000
                        std        1.296             NaN              NaN
AdaBoost       f1_score mean      62.771       48.649000        50.000000
                        std        2.196             NaN              NaN
               accuracy mean      63.201       45.714000        46.341000
                        std        2.591             NaN              NaN
SVM            f1_score mean      61.464       53.333000        49.412000
                        std        3.391             NaN              NaN
               accuracy mean      64.064       50.000000        47.561000
                        std        2.762             NaN              NaN
Log Regression f1_score mean      61.146       52.778000        51.765000
                        std        3.461             NaN              NaN
               accuracy mean      61.999       51.429000        50.000000
                        std        3.016             NaN              NaN
traj_len       traj_len total   1742.000       70.000000        82.000000
               percent  Car        0.500        0.471429         0.463415
                        Taxi       0.500        0.528571         0.536585

                               250_kfold  250_val_woedge  250_val_by_edge  \
Random Forest  f1_score mean      67.948       59.524000           57.447
                        std        1.428             NaN              NaN
               accuracy mean      67.088       49.254000           47.368
                        std        0.461             NaN              NaN
AdaBoost       f1_score mean      65.126       56.098000           55.556
                        std        2.525             NaN              NaN
               accuracy mean      64.649       46.269000           47.368
                        std        1.892             NaN              NaN
SVM            f1_score mean      62.645       55.000000           53.933
                        std        2.424             NaN              NaN
               accuracy mean      63.216       46.269000           46.053
                        std        1.991             NaN              NaN
Log Regression f1_score mean      64.140       57.831000           56.522
                        std        4.386             NaN              NaN
               accuracy mean      64.390       47.761000           47.368
                        std        3.192             NaN              NaN
traj_len       traj_len total   1188.000       67.000000           76.000
               percent  Car        0.500        0.492537            0.500
                        Taxi       0.500        0.507463            0.500

                               300_kfold  300_val_woedge  300_val_by_edge  \
Random Forest  f1_score mean      64.614       57.971000        58.667000
                        std        2.268             NaN              NaN
               accuracy mean      63.011       50.847000        50.000000
                        std        1.087             NaN              NaN
AdaBoost       f1_score mean      57.041       58.824000        59.155000
                        std        3.003             NaN              NaN
               accuracy mean      57.586       52.542000        53.226000
                        std        3.173             NaN              NaN
SVM            f1_score mean      60.116       58.824000        60.000000
                        std        4.173             NaN              NaN
               accuracy mean      60.659       52.542000        54.839000
                        std        3.724             NaN              NaN
Log Regression f1_score mean      59.761       64.615000        64.706000
                        std        2.842             NaN              NaN
               accuracy mean      59.729       61.017000        61.290000
                        std        3.067             NaN              NaN
traj_len       traj_len total    976.000       59.000000        62.000000
               percent  Car        0.500        0.491525         0.483871
                        Taxi       0.500        0.508475         0.516129

                               350_kfold  350_val_woedge  350_val_by_edge  \
Random Forest  f1_score mean      62.637       64.286000        59.649000
                        std        4.153             NaN              NaN
               accuracy mean      61.669       57.447000        55.769000
                        std        3.820             NaN              NaN
AdaBoost       f1_score mean      54.559       54.902000        54.545000
                        std        5.965             NaN              NaN
               accuracy mean      55.239       51.064000        51.923000
                        std        5.302             NaN              NaN
SVM            f1_score mean      58.565       57.692000        58.182000
                        std        1.990             NaN              NaN
               accuracy mean      58.890       53.191000        55.769000
                        std        2.891             NaN              NaN
Log Regression f1_score mean      55.616       61.538000        59.259000
                        std        4.963             NaN              NaN
               accuracy mean      55.966       57.447000        57.692000
                        std        4.234             NaN              NaN
traj_len       traj_len total    686.000       47.000000        52.000000
               percent  Car        0.500        0.553191         0.519231
                        Taxi       0.500        0.446809         0.480769

                               400_kfold  400_val_woedge  400_val_by_edge
Random Forest  f1_score mean      61.723       51.163000           53.061
                        std        6.746             NaN              NaN
               accuracy mean      60.937       53.333000           54.000
                        std        6.437             NaN              NaN
AdaBoost       f1_score mean      58.342       51.282000           50.000
                        std        4.098             NaN              NaN
               accuracy mean      59.164       57.778000           56.000
                        std        3.503             NaN              NaN
SVM            f1_score mean      55.630       51.064000           50.980
                        std        4.461             NaN              NaN
               accuracy mean      55.788       48.889000           50.000
                        std        3.979             NaN              NaN
Log Regression f1_score mean      53.406       46.154000           46.512
                        std        0.751             NaN              NaN
               accuracy mean      53.786       53.333000           54.000
                        std        2.615             NaN              NaN
traj_len       traj_len total    502.000       45.000000           50.000
               percent  Car        0.500        0.422222            0.400
                        Taxi       0.500        0.577778            0.600

model fitting for  200  complete.
model fitting for  250  complete.
model fitting for  300  complete.
model fitting for  350  complete.
model fitting for  400  complete.

 vehicle density >=  5

                               200_kfold  200_val_woedge  200_val_by_edge  \
Random Forest  f1_score mean      67.244       51.282000        46.512000
                        std        0.863             NaN              NaN
               accuracy mean      66.396       44.118000        41.026000
                        std        1.407             NaN              NaN
AdaBoost       f1_score mean      64.668       54.054000        48.780000
                        std        3.619             NaN              NaN
               accuracy mean      64.215       50.000000        46.154000
                        std        3.510             NaN              NaN
SVM            f1_score mean      61.519       55.556000        50.000000
                        std        2.889             NaN              NaN
               accuracy mean      62.269       52.941000        48.718000
                        std        2.801             NaN              NaN
Log Regression f1_score mean      60.908       48.485000        44.444000
                        std        4.198             NaN              NaN
               accuracy mean      61.247       50.000000        48.718000
                        std        3.687             NaN              NaN
traj_len       traj_len total    872.000       34.000000        39.000000
               percent  Car        0.500        0.382353         0.333333
                        Taxi       0.500        0.617647         0.666667

                               250_kfold  250_val_woedge  250_val_by_edge  \
Random Forest  f1_score mean      66.267          65.217        58.333000
                        std        4.524             NaN              NaN
               accuracy mean      65.197          52.941        42.857000
                        std        4.171             NaN              NaN
AdaBoost       f1_score mean      61.345          68.182        68.182000
                        std        5.375             NaN              NaN
               accuracy mean      62.158          58.824        60.000000
                        std        4.231             NaN              NaN
SVM            f1_score mean      64.525          65.217        63.830000
                        std        5.610             NaN              NaN
               accuracy mean      64.874          52.941        51.429000
                        std        5.583             NaN              NaN
Log Regression f1_score mean      63.133          65.217        63.830000
                        std        4.650             NaN              NaN
               accuracy mean      63.508          52.941        51.429000
                        std        3.888             NaN              NaN
traj_len       traj_len total    592.000          34.000        35.000000
               percent  Car        0.500           0.500         0.485714
                        Taxi       0.500           0.500         0.514286

                               300_kfold  300_val_woedge  300_val_by_edge  \
Random Forest  f1_score mean      64.102        60.00000         59.45900
                        std        3.507             NaN              NaN
               accuracy mean      62.267        50.00000         53.12500
                        std        3.580             NaN              NaN
AdaBoost       f1_score mean      62.253        55.55600         55.55600
                        std        5.143             NaN              NaN
               accuracy mean      63.592        50.00000         50.00000
                        std        3.864             NaN              NaN
SVM            f1_score mean      63.160        57.89500         57.89500
                        std        3.872             NaN              NaN
               accuracy mean      63.024        50.00000         50.00000
                        std        2.566             NaN              NaN
Log Regression f1_score mean      63.233        65.00000         65.00000
                        std        5.842             NaN              NaN
               accuracy mean      62.427        56.25000         56.25000
                        std        6.004             NaN              NaN
traj_len       traj_len total    522.000        32.00000         32.00000
               percent  Car        0.500         0.59375          0.59375
                        Taxi       0.500         0.40625          0.40625

                               350_kfold  350_val_woedge  350_val_by_edge  \
Random Forest  f1_score mean      62.394       62.857000        58.824000
                        std        4.980             NaN              NaN
               accuracy mean      60.606       51.852000        51.724000
                        std        5.669             NaN              NaN
AdaBoost       f1_score mean      58.698       50.000000        50.000000
                        std        6.634             NaN              NaN
               accuracy mean      58.788       48.148000        51.724000
                        std        5.016             NaN              NaN
SVM            f1_score mean      61.483       64.516000        62.500000
                        std        2.321             NaN              NaN
               accuracy mean      61.515       59.259000        58.621000
                        std        4.349             NaN              NaN
Log Regression f1_score mean      58.057       62.500000        60.606000
                        std        6.565             NaN              NaN
               accuracy mean      57.879       55.556000        55.172000
                        std        5.860             NaN              NaN
traj_len       traj_len total    330.000       27.000000        29.000000
               percent  Car        0.500        0.518519         0.482759
                        Taxi       0.500        0.481481         0.517241

                               400_kfold  400_val_woedge  400_val_by_edge
Random Forest  f1_score mean      55.289          45.455        44.444000
                        std        7.466             NaN              NaN
               accuracy mean      55.038          52.000        42.308000
                        std        4.631             NaN              NaN
AdaBoost       f1_score mean      54.888          33.333        38.462000
                        std        4.731             NaN              NaN
               accuracy mean      55.392          36.000        38.462000
                        std        3.866             NaN              NaN
SVM            f1_score mean      54.769          60.000        63.636000
                        std        2.978             NaN              NaN
               accuracy mean      54.683          68.000        69.231000
                        std        5.450             NaN              NaN
Log Regression f1_score mean      59.075          35.294        42.105000
                        std        7.042             NaN              NaN
               accuracy mean      58.899          56.000        57.692000
                        std        5.050             NaN              NaN
traj_len       traj_len total    258.000          25.000        26.000000
               percent  Car        0.500           0.320         0.346154
                        Taxi       0.500           0.680         0.653846