"""demonstration.ipynb
by: 
- Sheil Kumar (sk17@illinois.edu)
- Anirudh Eswara (aeswara2@illinois.edu)
- Lloyd Fernandes (lloydf2@illinois.edu)
Project director: Richard Sowers
r-sowers@illinois.eduhttps://publish.illinois.edu/r-sowers/
Copyright 2019 University of Illinois Board of Trustees. All Rights Reserved. Licensed under the MIT license
"""

# Notebook to Demonstrate Usage of Features and Functions 

This notebook serves to show how the features in `data.py` and `feature_eng.py` work

In [4]:
from data import *
from feature_eng import *

## 1.0 Data.py

- Functions:
  - `csv_to_df`
  - `pickle_df`

In [5]:
#csv_to_df
df = csv_to_df('block4_1.csv') #simply need to feed in name of .csv file containing dat a
df

                   lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id   time
1    0.00    37.981384  23.734019  26.3600   0.0625  -0.0121  Bus      156.25
     0.04    37.981386  23.734021  26.3634  -0.0149  -0.0141  Bus      156.25
     0.08    37.981387  23.734024  26.3578  -0.0625  -0.0160  Bus      156.25
     0.12    37.981389  23.734027  26.3454  -0.1101  -0.0179  Bus      156.25
     0.16    37.981390  23.734030  26.3229  -0.2023  -0.0199  Bus      156.25
...                ...        ...      ...      ...      ...  ...         ...
1978 948.24  37.984673  23.733533  11.7215   0.0000   0.0000  Car        1.82
     948.28  37.984674  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.32  37.984675  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.36  37.984676  23.733531  11.7215   0.0000   0.0000  Car        1.82
     948.40  37.984677  23.733531  11.7215  -0.0000  -0.0000  Car        1.82

             avg_speed
id   time
1    0.00     5.227568
     0.04     5.227568
     0.08     5.227568
     0.12     5.227568
     0.16     5.227568
...                ...
1978 948.24  10.940029
     948.28  10.940029
     948.32  10.940029
     948.36  10.940029
     948.40  10.940029

[3659048 rows x 8 columns]

In [6]:
#pickle_df 
pickle_df(df,pickle_name='block4_1.pkl') #simply need to feed in dataframe and desired name for .pkl file

## 2.0 feature_eng.py

- Functions:
    - `bearing`
    - `nearest_graph_data`
    - `direction`
    - `vehicle_density`

In [7]:
#Add bearings
import pandas as pd
df = pd.read_pickle("block4_1.pkl")
df = bearing(df) #using bearing will then return a df with bearing as a column 
df

                   lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id   time
1    0.00    37.981384  23.734019  26.3600   0.0625  -0.0121  Bus      156.25
     0.04    37.981386  23.734021  26.3634  -0.0149  -0.0141  Bus      156.25
     0.08    37.981387  23.734024  26.3578  -0.0625  -0.0160  Bus      156.25
     0.12    37.981389  23.734027  26.3454  -0.1101  -0.0179  Bus      156.25
     0.16    37.981390  23.734030  26.3229  -0.2023  -0.0199  Bus      156.25
...                ...        ...      ...      ...      ...  ...         ...
1978 948.24  37.984673  23.733533  11.7215   0.0000   0.0000  Car        1.82
     948.28  37.984674  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.32  37.984675  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.36  37.984676  23.733531  11.7215   0.0000   0.0000  Car        1.82
     948.40  37.984677  23.733531  11.7215  -0.0000  -0.0000  Car        1.82

             avg_speed   bearing
id   time
1    0.00     5.227568  0.169584
     0.04     5.227568  0.474542
     0.08     5.227568  0.251416
     0.12     5.227568  0.474556
     0.16     5.227568  0.169594
...                ...       ...
1978 948.24  10.940029 -0.169115
     948.28  10.940029  0.000000
     948.32  10.940029 -0.169114
     948.36  10.940029  0.000000
     948.40  10.940029       NaN

[3659048 rows x 9 columns]

In [8]:
#add nearest nodes and edges

graph = ox.graph_from_point((37.981384,23.734019), network_type='drive', dist=700)
#graph = ox.graph_from_address('Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece', network_type='drive')  #need to provide graph from osmnx as well 
df = nearest_graph_data(df, graph,mode='balltree') #nearest_graph_data will then return multiple features regarding the node and edge per id 
df

                   lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id   time
1    0.00    37.981384  23.734019  26.3600   0.0625  -0.0121  Bus      156.25
     0.04    37.981386  23.734021  26.3634  -0.0149  -0.0141  Bus      156.25
     0.08    37.981387  23.734024  26.3578  -0.0625  -0.0160  Bus      156.25
     0.12    37.981389  23.734027  26.3454  -0.1101  -0.0179  Bus      156.25
     0.16    37.981390  23.734030  26.3229  -0.2023  -0.0199  Bus      156.25
...                ...        ...      ...      ...      ...  ...         ...
1978 948.24  37.984673  23.733533  11.7215   0.0000   0.0000  Car        1.82
     948.28  37.984674  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.32  37.984675  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.36  37.984676  23.733531  11.7215   0.0000   0.0000  Car        1.82
     948.40  37.984677  23.733531  11.7215  -0.0000  -0.0000  Car        1.82

             avg_speed   bearing  nearest_edge_start_node  \
id   time
1    0.00     5.227568  0.169584                250699612
     0.04     5.227568  0.474542                250699612
     0.08     5.227568  0.251416                250699612
     0.12     5.227568  0.474556                250699612
     0.16     5.227568  0.169594                250699612
...                ...       ...                      ...
1978 948.24  10.940029 -0.169115                388172075
     948.28  10.940029  0.000000                388172075
     948.32  10.940029 -0.169114                388172075
     948.36  10.940029  0.000000                388172075
     948.40  10.940029       NaN                388172075

             nearest_edge_end_node  edge_progress
id   time
1    0.00                250709162       0.934900
     0.04                250709162       0.932464
     0.08                250709162       0.932163
     0.12                250709162       0.930224
     0.16                250709162       0.929970
...                            ...            ...
1978 948.24             4464395371       0.306158
     948.28             4464395371       0.307526
     948.32             4464395371       0.309172
     948.36             4464395371       0.310551
     948.40             4464395371       0.312199

[3659048 rows x 12 columns]

In [9]:
# add vehicle direction wrt edge
df = direction(df) # running direction on dataframe will then return a df with the direction as a column 
df

                   lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id   time
1    0.00    37.981384  23.734019  26.3600   0.0625  -0.0121  Bus      156.25
     0.04    37.981386  23.734021  26.3634  -0.0149  -0.0141  Bus      156.25
     0.08    37.981387  23.734024  26.3578  -0.0625  -0.0160  Bus      156.25
     0.12    37.981389  23.734027  26.3454  -0.1101  -0.0179  Bus      156.25
     0.16    37.981390  23.734030  26.3229  -0.2023  -0.0199  Bus      156.25
...                ...        ...      ...      ...      ...  ...         ...
1978 948.24  37.984673  23.733533  11.7215   0.0000   0.0000  Car        1.82
     948.28  37.984674  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.32  37.984675  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.36  37.984676  23.733531  11.7215   0.0000   0.0000  Car        1.82
     948.40  37.984677  23.733531  11.7215  -0.0000  -0.0000  Car        1.82

             avg_speed   bearing  nearest_edge_start_node  \
id   time
1    0.00     5.227568  0.169584                250699612
     0.04     5.227568  0.474542                250699612
     0.08     5.227568  0.251416                250699612
     0.12     5.227568  0.474556                250699612
     0.16     5.227568  0.169594                250699612
...                ...       ...                      ...
1978 948.24  10.940029 -0.169115                388172075
     948.28  10.940029  0.000000                388172075
     948.32  10.940029 -0.169114                388172075
     948.36  10.940029  0.000000                388172075
     948.40  10.940029       NaN                388172075

             nearest_edge_end_node  edge_progress  dir
id   time
1    0.00                250709162       0.934900    0
     0.04                250709162       0.932464    0
     0.08                250709162       0.932163    0
     0.12                250709162       0.930224    0
     0.16                250709162       0.929970    0
...                            ...            ...  ...
1978 948.24             4464395371       0.306158    1
     948.28             4464395371       0.307526    1
     948.32             4464395371       0.309172    1
     948.36             4464395371       0.310551    1
     948.40             4464395371       0.312199    1

[3659048 rows x 13 columns]

In [10]:
#vehicle_density
vehicle_density_df = vehicle_density(df) #running vehicle_density then returns the number of vehicles per start_node and end_node pairs, still needs to be reformatted and added back to main df
vehicle_density_df

                                                                                          id
                                                                                     nunique
nearest_edge_start_node nearest_edge_end_node dir edge_progress_intervals time_stamp
250691795               250692406             0   0.4                     387.04           1
                                                                          387.08           1
                                                                          387.12           1
                                                                          387.16           1
                                                                          387.20           1
...                                                                                      ...
388172075               4464395371            1   0.9                     947.84           1
                                                                          947.88           1
                                                                          947.92           1
                                                                          947.96           1
                                                                          948.00           1

[2272497 rows x 1 columns]

In [11]:
#integrate vehicle_density_df with df
col_list = list(df.columns)
df= df.reset_index().merge(vehicle_density_df,how = 'left', left_on=['time','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'], 
         right_on =['time_stamp','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'] )[['id','time']+ col_list + [('id', 'nunique')]]
df.set_index(['id','time'], inplace=True)
df.rename(columns = {('id', 'nunique') : 'vehicle_density'},inplace=True)
df
#df["vehicle_speed"] = df_vehicle_speed[('id', 'nunique')]

C:\Users\lloyd\anaconda3\envs\ox\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\lloyd\anaconda3\envs\ox\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

                   lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id   time
1    0.00    37.981384  23.734019  26.3600   0.0625  -0.0121  Bus      156.25
     0.04    37.981386  23.734021  26.3634  -0.0149  -0.0141  Bus      156.25
     0.08    37.981387  23.734024  26.3578  -0.0625  -0.0160  Bus      156.25
     0.12    37.981389  23.734027  26.3454  -0.1101  -0.0179  Bus      156.25
     0.16    37.981390  23.734030  26.3229  -0.2023  -0.0199  Bus      156.25
...                ...        ...      ...      ...      ...  ...         ...
1978 948.24  37.984673  23.733533  11.7215   0.0000   0.0000  Car        1.82
     948.28  37.984674  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.32  37.984675  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.36  37.984676  23.733531  11.7215   0.0000   0.0000  Car        1.82
     948.40  37.984677  23.733531  11.7215  -0.0000  -0.0000  Car        1.82

             avg_speed   bearing  nearest_edge_start_node  \
id   time
1    0.00     5.227568  0.169584                250699612
     0.04     5.227568  0.474542                250699612
     0.08     5.227568  0.251416                250699612
     0.12     5.227568  0.474556                250699612
     0.16     5.227568  0.169594                250699612
...                ...       ...                      ...
1978 948.24  10.940029 -0.169115                388172075
     948.28  10.940029  0.000000                388172075
     948.32  10.940029 -0.169114                388172075
     948.36  10.940029  0.000000                388172075
     948.40  10.940029       NaN                388172075

             nearest_edge_end_node  edge_progress  dir  time_stamp  \
id   time
1    0.00                250709162       0.934900    0        0.00
     0.04                250709162       0.932464    0        0.04
     0.08                250709162       0.932163    0        0.08
     0.12                250709162       0.930224    0        0.12
     0.16                250709162       0.929970    0        0.16
...                            ...            ...  ...         ...
1978 948.24             4464395371       0.306158    1      948.24
     948.28             4464395371       0.307526    1      948.28
     948.32             4464395371       0.309172    1      948.32
     948.36             4464395371       0.310551    1      948.36
     948.40             4464395371       0.312199    1      948.40

             edge_progress_intervals  vehicle_density
id   time
1    0.00                        0.9                1
     0.04                        0.9                1
     0.08                        0.9                1
     0.12                        0.9                1
     0.16                        0.9                1
...                              ...              ...
1978 948.24                      0.3                1
     948.28                      0.3                1
     948.32                      0.3                1
     948.36                      0.3                1
     948.40                      0.3                1

[3659048 rows x 16 columns]

In [12]:
#average surrounding speed
average_surr_speed = edge_average_speed(df)
average_surr_speed

nearest_edge_start_node  nearest_edge_end_node  edge_progress_intervals  dir  time_stamp
250691795                250692406              0.4                      0    387.04        26.1390
                                                                              387.08        26.1388
                                                                              387.12        26.1387
                                                                              387.16        26.1385
                                                                              387.20        26.1382
                                                                                             ...
388172075                4464395371             0.9                      1    947.84        19.9109
                                                                              947.88        19.9291
                                                                              947.92        19.9384
                                                                              947.96        19.9479
                                                                              948.00        19.9574
Name: speed, Length: 2272497, dtype: float64

In [13]:
#integrate average surrounding speed
col_list = list(df.columns)
df= df.reset_index().merge(average_surr_speed,how = 'left', left_on=['time','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'], 
         right_on =['time_stamp','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'],suffixes = ['','_y'] )#[['id','time']+ col_list + ['speed_y']]
df.set_index(['id','time'], inplace=True)
df.rename(columns = {('speed_y') : 'avg_surr_speed'},inplace=True)
df

                   lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id   time
1    0.00    37.981384  23.734019  26.3600   0.0625  -0.0121  Bus      156.25
     0.04    37.981386  23.734021  26.3634  -0.0149  -0.0141  Bus      156.25
     0.08    37.981387  23.734024  26.3578  -0.0625  -0.0160  Bus      156.25
     0.12    37.981389  23.734027  26.3454  -0.1101  -0.0179  Bus      156.25
     0.16    37.981390  23.734030  26.3229  -0.2023  -0.0199  Bus      156.25
...                ...        ...      ...      ...      ...  ...         ...
1978 948.24  37.984673  23.733533  11.7215   0.0000   0.0000  Car        1.82
     948.28  37.984674  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.32  37.984675  23.733532  11.7215   0.0000   0.0000  Car        1.82
     948.36  37.984676  23.733531  11.7215   0.0000   0.0000  Car        1.82
     948.40  37.984677  23.733531  11.7215  -0.0000  -0.0000  Car        1.82

             avg_speed   bearing  nearest_edge_start_node  \
id   time
1    0.00     5.227568  0.169584                250699612
     0.04     5.227568  0.474542                250699612
     0.08     5.227568  0.251416                250699612
     0.12     5.227568  0.474556                250699612
     0.16     5.227568  0.169594                250699612
...                ...       ...                      ...
1978 948.24  10.940029 -0.169115                388172075
     948.28  10.940029  0.000000                388172075
     948.32  10.940029 -0.169114                388172075
     948.36  10.940029  0.000000                388172075
     948.40  10.940029       NaN                388172075

             nearest_edge_end_node  edge_progress  dir  time_stamp  \
id   time
1    0.00                250709162       0.934900    0        0.00
     0.04                250709162       0.932464    0        0.04
     0.08                250709162       0.932163    0        0.08
     0.12                250709162       0.930224    0        0.12
     0.16                250709162       0.929970    0        0.16
...                            ...            ...  ...         ...
1978 948.24             4464395371       0.306158    1      948.24
     948.28             4464395371       0.307526    1      948.28
     948.32             4464395371       0.309172    1      948.32
     948.36             4464395371       0.310551    1      948.36
     948.40             4464395371       0.312199    1      948.40

             edge_progress_intervals  vehicle_density  avg_surr_speed
id   time
1    0.00                        0.9                1         26.3600
     0.04                        0.9                1         26.3634
     0.08                        0.9                1         26.3578
     0.12                        0.9                1         26.3454
     0.16                        0.9                1         26.3229
...                              ...              ...             ...
1978 948.24                      0.3                1         11.7215
     948.28                      0.3                1         11.7215
     948.32                      0.3                1         11.7215
     948.36                      0.3                1         11.7215
     948.40                      0.3                1         11.7215

[3659048 rows x 17 columns]

In [17]:
#create an edge_id and save the dataframe
df["edge_id"] = df["nearest_edge_start_node"].astype(str)+"_" +df["nearest_edge_end_node"].astype(str)
pickle_df(df,pickle_name='block4_1_augmented.pkl')

In [15]:
#split trajectories to timestamp with 1500 entries
df = split_trajectories(df, 2000)

In [18]:
#get the relevant features and create a unique edge_id
df_list = df[['lat','lon','speed','lon_acc','lat_acc','type','traveled_d','edge_id','avg_speed','bearing','edge_progress','dir','edge_progress_intervals','vehicle_density','avg_surr_speed']]
#save to pickle file
pickle_df(df_list,pickle_name ='block4_1_features.pkl')
df_list.to_csv("block4_1_features.csv")