In [3]:
# Copyright 2020 by Shekhar Sharma
# Project Director : Prof. Richard Sowers, University of Illinois , Urbana-Chamapaign
'''MIT License

Copyright (c) 2020 Shekhar Sharma

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
'''

'MIT License\n\nCopyright (c) 2020 Shekhar Sharma\n\nPermission is hereby granted, free of charge, to any person obtaining a copy\nof this software and associated documentation files (the "Software"), to deal\nin the Software without restriction, including without limitation the rights\nto use, copy, modify, merge, publish, distribute, sublicense, and/or sell\ncopies of the Software, and to permit persons to whom the Software is\nfurnished to do so, subject to the following conditions:\n\nThe above copyright notice and this permission notice shall be included in all\ncopies or substantial portions of the Software.\n\nTHE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\nIMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\nFITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\nAUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\nLIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\nOUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE\nSOFTWARE.\n'

In [4]:
import osmnx as ox
import osmapi as osm
import pandas as pd
import networkx as nx
from math import cos, asin, sqrt, pi

datafile='Lat_Long_Pairs.csv'

df = pd.read_csv(datafile,sep=',')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
0,"37.979838,23.733420000000002","37.979839,23.733419","37.97984,23.733418","37.979841,23.733418","37.979842,23.733417000000003","37.979843,23.733416000000002","37.979844,23.733415","37.979845000000005,23.733414","37.979845000000005,23.733413","37.979846,23.733412",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
1,"37.979775,23.733423000000002","37.979778,23.733422","37.97978,23.733420000000002","37.979782,23.733418","37.979784,23.733417000000003","37.979786,23.733415","37.979788,23.733413","37.97979,23.733411","37.979791999999996,23.73341","37.979794,23.733407999999997",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
2,"37.979684999999996,23.733389000000003","37.979689,23.733385000000002","37.979693,23.733382000000002","37.979698,23.733378","37.979702,23.733375","37.979706,23.733370999999998","37.979711,23.733368","37.979715,23.733364","37.979719,23.73336","37.979723,23.733357",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
3,"37.979773,23.733475","37.979774,23.733473999999998","37.979775,23.733473999999998","37.979775,23.733473","37.979776,23.733473","37.979777,23.733472","37.979778,23.733470999999998","37.979779,23.733470999999998","37.979779,23.73347","37.97978,23.73347",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
4,"37.979797999999995,23.733493","37.979799,23.733493","37.9798,23.733492000000002","37.979801,23.733491","37.979801,23.733491","37.979802,23.73349","37.979803000000004,23.73349","37.979804,23.733489000000002","37.979805,23.733488","37.979805999999996,23.733488",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
5,"37.97961,23.733487","37.979613,23.733484","37.979616,23.733481","37.979619,23.733478","37.979623,23.733475","37.979626,23.733472","37.979628999999996,23.733469","37.979632,23.733466","37.979634999999995,23.733464","37.979639,23.733461",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
6,"37.979651000000004,23.733595","37.979653000000006,23.733594","37.979655,23.733593","37.979657,23.733592","37.979659000000005,23.733591","37.979661,23.73359","37.979663,23.733589000000002","37.979665000000004,23.733588","37.979667,23.733587","37.979669,23.733586",...,"37.979843,23.733442","37.979844,23.733439999999998","37.979846,23.733439","37.979848,23.733437","37.979849,23.733435999999998","37.979851000000004,23.733434","37.979852,23.733432","37.979853999999996,23.733431","37.979855,23.733429","37.979857,23.733427"
7,"37.979608,23.733554","37.979612,23.73355","37.979616,23.733546","37.979620000000004,23.733542","37.979624,23.733539","37.979628000000005,23.733535","37.979632,23.733531","37.979636,23.733528","37.979641,23.733524","37.979645,23.733520000000002",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
8,"37.979589000000004,23.733546","37.979591,23.733543","37.979594,23.733541","37.979597,23.733538","37.9796,23.733535999999997","37.979603000000004,23.733534","37.979606,23.733531","37.979609,23.733529","37.979611,23.733526","37.979614,23.733524",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"

In [24]:
flag=0
for index, row in df.iterrows():
    for cell in row:
        if(cell!='nan,nan' and cell!=' ,nan'):
            lat,lon=cell.split(',')
            lat=float(lat)
            lon=float(lon)
            if flag==0:
                G = ox.graph_from_point((lat,lon), network_type='drive', dist=200, simplify=True)
                flag=1
            surrounding_nodes = ox.get_nearest_edge(G,(lat,lon))
            #print(surrounding_nodes)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
0,"37.979838,23.733420000000002","37.979839,23.733419","37.97984,23.733418","37.979841,23.733418","37.979842,23.733417000000003","37.979843,23.733416000000002","37.979844,23.733415","37.979845000000005,23.733414","37.979845000000005,23.733413","37.979846,23.733412",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
1,"37.979775,23.733423000000002","37.979778,23.733422","37.97978,23.733420000000002","37.979782,23.733418","37.979784,23.733417000000003","37.979786,23.733415","37.979788,23.733413","37.97979,23.733411","37.979791999999996,23.73341","37.979794,23.733407999999997",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
2,"37.979684999999996,23.733389000000003","37.979689,23.733385000000002","37.979693,23.733382000000002","37.979698,23.733378","37.979702,23.733375","37.979706,23.733370999999998","37.979711,23.733368","37.979715,23.733364","37.979719,23.73336","37.979723,23.733357",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
3,"37.979773,23.733475","37.979774,23.733473999999998","37.979775,23.733473999999998","37.979775,23.733473","37.979776,23.733473","37.979777,23.733472","37.979778,23.733470999999998","37.979779,23.733470999999998","37.979779,23.73347","37.97978,23.73347",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
4,"37.979797999999995,23.733493","37.979799,23.733493","37.9798,23.733492000000002","37.979801,23.733491","37.979801,23.733491","37.979802,23.73349","37.979803000000004,23.73349","37.979804,23.733489000000002","37.979805,23.733488","37.979805999999996,23.733488",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
5,"37.97961,23.733487","37.979613,23.733484","37.979616,23.733481","37.979619,23.733478","37.979623,23.733475","37.979626,23.733472","37.979628999999996,23.733469","37.979632,23.733466","37.979634999999995,23.733464","37.979639,23.733461",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
6,"37.979651000000004,23.733595","37.979653000000006,23.733594","37.979655,23.733593","37.979657,23.733592","37.979659000000005,23.733591","37.979661,23.73359","37.979663,23.733589000000002","37.979665000000004,23.733588","37.979667,23.733587","37.979669,23.733586",...,"37.979843,23.733442","37.979844,23.733439999999998","37.979846,23.733439","37.979848,23.733437","37.979849,23.733435999999998","37.979851000000004,23.733434","37.979852,23.733432","37.979853999999996,23.733431","37.979855,23.733429","37.979857,23.733427"
7,"37.979608,23.733554","37.979612,23.73355","37.979616,23.733546","37.979620000000004,23.733542","37.979624,23.733539","37.979628000000005,23.733535","37.979632,23.733531","37.979636,23.733528","37.979641,23.733524","37.979645,23.733520000000002",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
8,"37.979589000000004,23.733546","37.979591,23.733543","37.979594,23.733541","37.979597,23.733538","37.9796,23.733535999999997","37.979603000000004,23.733534","37.979606,23.733531","37.979609,23.733529","37.979611,23.733526","37.979614,23.733524",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"

In [6]:
#node1,node2,axis=surrounding_nodes
#print(node1)
#print(node2)
#print(G[node1][node2][0].get('length'))

#print(ox.distance.euclidean_dist_vec(G.nodes[node1]['y'],G.nodes[node1]['x'],G.nodes[node2]['y'],G.nodes[node2]['x']))
#print(nx.shortest_path_length(G,node1,node2,weight='length'))
#print(ox.get_nearest_node(G,(lat,lon)))

#print(type(surrounding_nodes))
#print(type(df[0]))

In [7]:
def st_line_distance(lat1, lon1, lat2, lon2):
    p = pi/180
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p) * cos(lat2*p) * (1-cos((lon2-lon1)*p))/2
    return 12742 * asin(sqrt(a)) #2*R*asin...

In [9]:
#print(st_line_distance(G.nodes[node1]['y'], G.nodes[node1]['x'], G.nodes[node2]['y'], G.nodes[node2]['x']))

In [10]:
def calc_distance(tuple1):
    #lat,lon=tuple1.split(',')
    #lat=float(lat)
    #lon=float(lon)
    lat=float(tuple1[0])
    lon=float(tuple1[1])
    surrounding_nodes = ox.get_nearest_edge(G,(lat,lon))
    travelled_dist = st_line_distance(G.nodes[surrounding_nodes[0]]['y'],G.nodes[surrounding_nodes[0]]['x'],lat,lon)
    total=st_line_distance(G.nodes[surrounding_nodes[0]]['y'],G.nodes[surrounding_nodes[0]]['x'],G.nodes[surrounding_nodes[1]]['y'],G.nodes[surrounding_nodes[1]]['x'])
    ans=(travelled_dist/total)*100
    return ans
#traveled=calc_distance(lat,lon)
#total=calc_distance(G.nodes[surrounding_nodes[1]]['y'],G.nodes[surrounding_nodes[1]]['x'])

#percent=(traveled/total)*100
print(calc_distance([lat,lon]))

47.98304945333033

In [11]:
df2=df.copy(deep=True)
try:
    df2.apply(calc_distance)
except ValueError:
    print('error')
df2.head(10)

error

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
0,"37.979838,23.733420000000002","37.979839,23.733419","37.97984,23.733418","37.979841,23.733418","37.979842,23.733417000000003","37.979843,23.733416000000002","37.979844,23.733415","37.979845000000005,23.733414","37.979845000000005,23.733413","37.979846,23.733412",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
1,"37.979775,23.733423000000002","37.979778,23.733422","37.97978,23.733420000000002","37.979782,23.733418","37.979784,23.733417000000003","37.979786,23.733415","37.979788,23.733413","37.97979,23.733411","37.979791999999996,23.73341","37.979794,23.733407999999997",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
2,"37.979684999999996,23.733389000000003","37.979689,23.733385000000002","37.979693,23.733382000000002","37.979698,23.733378","37.979702,23.733375","37.979706,23.733370999999998","37.979711,23.733368","37.979715,23.733364","37.979719,23.73336","37.979723,23.733357",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
3,"37.979773,23.733475","37.979774,23.733473999999998","37.979775,23.733473999999998","37.979775,23.733473","37.979776,23.733473","37.979777,23.733472","37.979778,23.733470999999998","37.979779,23.733470999999998","37.979779,23.73347","37.97978,23.73347",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
4,"37.979797999999995,23.733493","37.979799,23.733493","37.9798,23.733492000000002","37.979801,23.733491","37.979801,23.733491","37.979802,23.73349","37.979803000000004,23.73349","37.979804,23.733489000000002","37.979805,23.733488","37.979805999999996,23.733488",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
5,"37.97961,23.733487","37.979613,23.733484","37.979616,23.733481","37.979619,23.733478","37.979623,23.733475","37.979626,23.733472","37.979628999999996,23.733469","37.979632,23.733466","37.979634999999995,23.733464","37.979639,23.733461",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
6,"37.979651000000004,23.733595","37.979653000000006,23.733594","37.979655,23.733593","37.979657,23.733592","37.979659000000005,23.733591","37.979661,23.73359","37.979663,23.733589000000002","37.979665000000004,23.733588","37.979667,23.733587","37.979669,23.733586",...,"37.979843,23.733442","37.979844,23.733439999999998","37.979846,23.733439","37.979848,23.733437","37.979849,23.733435999999998","37.979851000000004,23.733434","37.979852,23.733432","37.979853999999996,23.733431","37.979855,23.733429","37.979857,23.733427"
7,"37.979608,23.733554","37.979612,23.73355","37.979616,23.733546","37.979620000000004,23.733542","37.979624,23.733539","37.979628000000005,23.733535","37.979632,23.733531","37.979636,23.733528","37.979641,23.733524","37.979645,23.733520000000002",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"
8,"37.979589000000004,23.733546","37.979591,23.733543","37.979594,23.733541","37.979597,23.733538","37.9796,23.733535999999997","37.979603000000004,23.733534","37.979606,23.733531","37.979609,23.733529","37.979611,23.733526","37.979614,23.733524",...,"nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan","nan,nan"

In [12]:
datafile='../Data/sample.csv'
dataframe = pd.read_csv(datafile, delimiter=';', names=range(800))
dataframe.rename(columns=dataframe.iloc[0], inplace = True)
dataframe.drop([0], inplace = True)


dataframe.head(10)

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Car,1.81,10.850992,37.979838,23.733420,11.6261,0.0000,-0.0000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Car,7.99,23.973873,37.979775,23.733423,24.8006,0.0000,0.0000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Motorcycle,13.71,49.371429,37.979685,23.733389,51.4286,0.0000,0.0000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Car,9.85,12.660487,37.979773,23.733475,9.3366,-0.0767,-0.0825,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Car,9.02,10.818467,37.979798,23.733493,10.0258,-0.0122,-0.0573,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Motorcycle,25.78,38.668483,37.979610,23.733487,39.4717,0.0408,0.1247,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Motorcycle,27.08,19.501143,37.979651,23.733595,21.2491,0.0291,-0.2190,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Motorcycle,29.43,52.980993,37.979608,23.733554,50.5417,1.0599,-0.3479,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Car,29.88,35.851799,37.979589,23.733546,34.5034,-0.0348,0.0048,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
ndf=pd.DataFrame()
ndf['track_id'] = dataframe['track_id']
ndf['type']=dataframe.iloc[:, 1]
ndf['type']=dataframe.iloc[:, 1]
i=4
while(i<799):
    ndf[i]=dataframe.iloc[:, i]
    ndf[i+1]=dataframe.iloc[:, i+1]
    #surrounding_nodes=ox.get_nearest_edge(G,(lat,lon))
    #print(calc_distance(ndf[i],ndf[i+1])
    #ndf[i+2]= ox.get_nearest_edge(G,(ndf[i].astype(float),ndf[i+1].astype(float)))
    i=i+6

ndf.head(10)

,track_id,type,4,5,10,11,16,17,22,23,...,772,773,778,779,784,785,790,791,796,797
1,1,Car,37.979838,23.733420,37.979839,23.733419,37.979840,23.733418,37.979841,23.733418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Car,37.979775,23.733423,37.979778,23.733422,37.979780,23.733420,37.979782,23.733418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Motorcycle,37.979685,23.733389,37.979689,23.733385,37.979693,23.733382,37.979698,23.733378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Car,37.979773,23.733475,37.979774,23.733474,37.979775,23.733474,37.979775,23.733473,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Car,37.979798,23.733493,37.979799,23.733493,37.979800,23.733492,37.979801,23.733491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Motorcycle,37.979610,23.733487,37.979613,23.733484,37.979616,23.733481,37.979619,23.733478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Motorcycle,37.979651,23.733595,37.979653,23.733594,37.979655,23.733593,37.979657,23.733592,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Motorcycle,37.979608,23.733554,37.979612,23.733550,37.979616,23.733546,37.979620,23.733542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Car,37.979589,23.733546,37.979591,23.733543,37.979594,23.733541,37.979597,23.733538,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
ndf=ndf.dropna(axis='columns',how='all')
#ndf=ndf.drop('track_id',axis=1)
ndf.to_csv("/home/shekhar/Desktop/UIUC_Project3/Analysis/Test_Pairs.csv")
ndf.head(10)

,type,4,5,10,11,16,17,22,23,28,...,731,736,737,742,743,748,749,754,755,760
1,Car,37.979838,23.733420,37.979839,23.733419,37.979840,23.733418,37.979841,23.733418,37.979842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Car,37.979775,23.733423,37.979778,23.733422,37.979780,23.733420,37.979782,23.733418,37.979784,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Motorcycle,37.979685,23.733389,37.979689,23.733385,37.979693,23.733382,37.979698,23.733378,37.979702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Car,37.979773,23.733475,37.979774,23.733474,37.979775,23.733474,37.979775,23.733473,37.979776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Car,37.979798,23.733493,37.979799,23.733493,37.979800,23.733492,37.979801,23.733491,37.979801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Motorcycle,37.979610,23.733487,37.979613,23.733484,37.979616,23.733481,37.979619,23.733478,37.979623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Motorcycle,37.979651,23.733595,37.979653,23.733594,37.979655,23.733593,37.979657,23.733592,37.979659,...,23.733434,37.979852,23.733432,37.979854,23.733431,37.979855,23.733429,37.979857,23.733427,
8,Motorcycle,37.979608,23.733554,37.979612,23.733550,37.979616,23.733546,37.979620,23.733542,37.979624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Car,37.979589,23.733546,37.979591,23.733543,37.979594,23.733541,37.979597,23.733538,37.979600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN