In [6]:
from Data import Data
import numpy as np
from numpy import arctan2, sin, cos

In [5]:
df = Data('sample.csv').df
df.head()

               lat        lon    speed  ...  type  traveled_d  avg_speed
id time                                 ...
1  0.00  37.977482  23.735405  34.0206  ...  Taxi      320.26  35.366264
   0.04  37.977485  23.735402  34.0197  ...  Taxi      320.26  35.366264
   0.08  37.977488  23.735400  34.0211  ...  Taxi      320.26  35.366264
   0.12  37.977491  23.735398  34.0245  ...  Taxi      320.26  35.366264
   0.16  37.977494  23.735395  34.0305  ...  Taxi      320.26  35.366264

[5 rows x 8 columns]

In [35]:
# https://towardsdatascience.com/calculating-the-bearing-between-two-geospatial-coordinates-66203f57e4b4
def bearing(c1, c2):
    lat1,lon1 = c1
    lat2,lon2 = c2
    
    dL = lon2 - lon1
    x = cos(lon2) * sin(dL)
    y = cos(lat1) * sin(lat2) - sin(lat1) * cos(lat2) * cos(dL)
    return arctan2(x,y)

In [47]:
DT = 0.04

def bearing_at_idx(df, idx):
    id,time = idx
    next_idx = (id, time+DT)

    if not df.index.isin([next_idx]).any():
        return None

    lat = float(df.loc[[idx]]['lat'])
    lon = float(df.loc[[idx]]['lon'])
    a = (lat,lon)

    lat = float(df.loc[[next_idx]]['lat'])
    lon = float(df.loc[[next_idx]]['lon'])
    b = (lat,lon)

    return bearing(a,b)

bearing_at_idx(df, (2,0.08))

-0.11455270605494577