"""demonstration.ipynb
by: 
- Sheil Kumar (sk17@illinois.edu)
- Anirudh Eswara (aeswara2@illinois.edu)
- Lloyd Fernandes (lloydf2@illinois.edu)
Project director: Richard Sowers
r-sowers@illinois.eduhttps://publish.illinois.edu/r-sowers/
Copyright 2019 University of Illinois Board of Trustees. All Rights Reserved. Licensed under the MIT license
"""

# Notebook to Demonstrate Usage of Features and Functions 

This notebook serves to show how the features in `data.py` and `feature_eng.py` work

In [2]:
from data import *
from feature_eng import *

## 1.0 Data.py

- Functions:
  - `csv_to_df`
  - `pickle_df`

In [3]:
#csv_to_df
df = csv_to_df('sample.csv') #simply need to feed in name of .csv file containing dat a
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed
id time
1  0.00  10.850992
   0.04  10.850992
   0.08  10.850992
   0.12  10.850992
   0.16  10.850992
...            ...
9  2.84  35.851799
   2.88  35.851799
   2.92  35.851799
   2.96  35.851799
   3.00  35.851799

[534 rows x 8 columns]

In [4]:
#pickle_df 
pickle_df(df,pickle_name='sample.pkl') #simply need to feed in dataframe and desired name for .pkl file

## 2.0 feature_eng.py

- Functions:
    - `bearing`
    - `nearest_graph_data`
    - `direction`
    - `vehicle_density`

In [5]:
#Add bearings
df = bearing(df) #using bearing will then return a df with bearing as a column 
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed   bearing
id time
1  0.00  10.850992 -0.169007
   0.04  10.850992 -0.169006
   0.08  10.850992  0.000000
   0.12  10.850992 -0.169005
   0.16  10.850992 -0.169004
...            ...       ...
9  2.84  35.851799 -0.168950
   2.88  35.851799 -0.113230
   2.92  35.851799 -0.168945
   2.96  35.851799 -0.168942
   3.00  35.851799       NaN

[534 rows x 9 columns]

In [6]:
#add nearest nodes and edges

graph = ox.graph_from_address('Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece', network_type='drive')  #need to provide graph from osmnx as well 
df = nearest_graph_data(df, graph) #nearest_graph_data will then return multiple features regarding the node and edge per id 
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed   bearing nearest_node nearest_edge_start_node  \
id time
1  0.00  10.850992 -0.169007    250698924               250698924
   0.04  10.850992 -0.169006    250698924               250698924
   0.08  10.850992  0.000000    250698924               250698924
   0.12  10.850992 -0.169005    250698924               250698924
   0.16  10.850992 -0.169004    250698924               250698924
...            ...       ...          ...                     ...
9  2.84  35.851799 -0.168950    250698924               250698924
   2.88  35.851799 -0.113230    250698924               250698924
   2.92  35.851799 -0.168945    250698924               250698924
   2.96  35.851799 -0.168942    250698924               250698924
   3.00  35.851799       NaN    250698924               250698924

        nearest_edge_end_node edge_progress
id time
1  0.00             250698926       0.27686
   0.04             250698926       0.27745
   0.08             250698926       0.27804
   0.12             250698926      0.278435
   0.16             250698926      0.279026
...                       ...           ...
9  2.84             250698926      0.275281
   2.88             250698926      0.277062
   2.92             250698926      0.278619
   2.96             250698926        0.2804
   3.00             250698926      0.282181

[534 rows x 13 columns]

In [7]:
# add vehicle direction wrt edge
df = direction(df) # running direction on dataframe will then return a df with the direction as a column 
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed   bearing nearest_node nearest_edge_start_node  \
id time
1  0.00  10.850992 -0.169007    250698924               250698924
   0.04  10.850992 -0.169006    250698924               250698924
   0.08  10.850992  0.000000    250698924               250698924
   0.12  10.850992 -0.169005    250698924               250698924
   0.16  10.850992 -0.169004    250698924               250698924
...            ...       ...          ...                     ...
9  2.84  35.851799 -0.168950    250698924               250698924
   2.88  35.851799 -0.113230    250698924               250698924
   2.92  35.851799 -0.168945    250698924               250698924
   2.96  35.851799 -0.168942    250698924               250698924
   3.00  35.851799       NaN    250698924               250698924

        nearest_edge_end_node edge_progress  dir
id time
1  0.00             250698926       0.27686    1
   0.04             250698926       0.27745    1
   0.08             250698926       0.27804    1
   0.12             250698926      0.278435    1
   0.16             250698926      0.279026    1
...                       ...           ...  ...
9  2.84             250698926      0.275281    1
   2.88             250698926      0.277062    1
   2.92             250698926      0.278619    1
   2.96             250698926        0.2804    1
   3.00             250698926      0.282181    1

[534 rows x 14 columns]

In [8]:
#vehicle_density
vehicle_density_df = vehicle_density(df) #running vehicle_density then returns the number of vehicles per start_node and end_node pairs, still needs to be reformatted and added back to main df
vehicle_density_df

                                                                                          id
                                                                                     nunique
nearest_edge_start_node nearest_edge_end_node dir edge_progress_intervals time_stamp
250698924               250698926             0   0.2                     0.12             1
                                                                          1.44             1
                                              1   0.1                     0.00             4
                                                                          0.04             4
                                                                          0.08             4
...                                                                                      ...
                                                  0.2                     4.84             1
                                                                          4.88             1
                                                                          4.92             1
                                                                          4.96             1
                                                                          5.00             1

[161 rows x 1 columns]

In [9]:
#integrate vehicle_density_df with df
col_list = list(df.columns)
df= df.reset_index().merge(vehicle_density_df,how = 'left', left_on=['time','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'], 
         right_on =['time_stamp','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'] )[['id','time']+ col_list + [('id', 'nunique')]]
df.set_index(['id','time'], inplace=True)
df.rename(columns = {('id', 'nunique') : 'vehicle_density'},inplace=True)
df
#df["vehicle_speed"] = df_vehicle_speed[('id', 'nunique')]

C:\Users\lloyd\anaconda3\envs\ox\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\lloyd\anaconda3\envs\ox\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed   bearing nearest_node nearest_edge_start_node  \
id time
1  0.00  10.850992 -0.169007    250698924               250698924
   0.04  10.850992 -0.169006    250698924               250698924
   0.08  10.850992  0.000000    250698924               250698924
   0.12  10.850992 -0.169005    250698924               250698924
   0.16  10.850992 -0.169004    250698924               250698924
...            ...       ...          ...                     ...
9  2.84  35.851799 -0.168950    250698924               250698924
   2.88  35.851799 -0.113230    250698924               250698924
   2.92  35.851799 -0.168945    250698924               250698924
   2.96  35.851799 -0.168942    250698924               250698924
   3.00  35.851799       NaN    250698924               250698924

        nearest_edge_end_node edge_progress  dir  time_stamp  \
id time
1  0.00             250698926       0.27686    1        0.00
   0.04             250698926       0.27745    1        0.04
   0.08             250698926       0.27804    1        0.08
   0.12             250698926      0.278435    1        0.12
   0.16             250698926      0.279026    1        0.16
...                       ...           ...  ...         ...
9  2.84             250698926      0.275281    1        2.84
   2.88             250698926      0.277062    1        2.88
   2.92             250698926      0.278619    1        2.92
   2.96             250698926        0.2804    1        2.96
   3.00             250698926      0.282181    1        3.00

        edge_progress_intervals  vehicle_density
id time
1  0.00                     0.2                5
   0.04                     0.2                5
   0.08                     0.2                5
   0.12                     0.2                4
   0.16                     0.2                5
...                         ...              ...
9  2.84                     0.2                3
   2.88                     0.2                3
   2.92                     0.2                3
   2.96                     0.2                3
   3.00                     0.2                3

[534 rows x 17 columns]

In [10]:
#average surrounding speed
average_surr_speed = edge_average_speed(df)
average_surr_speed

nearest_edge_start_node  nearest_edge_end_node  edge_progress_intervals  dir  time_stamp
250698924                250698926              0.1                      1    0.00          36.441475
                                                                              0.04          36.481450
                                                                              0.08          36.522925
                                                                              0.12          36.565825
                                                                              0.16          36.609425
                                                                                              ...
                                                0.2                      1    4.84          20.181700
                                                                              4.88          20.186500
                                                                              4.92          20.190500
                                                                              4.96          20.193800
                                                                              5.00          20.195600
Name: speed, Length: 161, dtype: float64

In [11]:
#integrate average surrounding speed
col_list = list(df.columns)
df= df.reset_index().merge(average_surr_speed,how = 'left', left_on=['time','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'], 
         right_on =['time_stamp','nearest_edge_start_node','nearest_edge_end_node','dir','edge_progress_intervals'],suffixes = ['','_y'] )#[['id','time']+ col_list + ['speed_y']]
df.set_index(['id','time'], inplace=True)
df.rename(columns = {('speed_y') : 'avg_surr_speed'},inplace=True)
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed   bearing nearest_node nearest_edge_start_node  \
id time
1  0.00  10.850992 -0.169007    250698924               250698924
   0.04  10.850992 -0.169006    250698924               250698924
   0.08  10.850992  0.000000    250698924               250698924
   0.12  10.850992 -0.169005    250698924               250698924
   0.16  10.850992 -0.169004    250698924               250698924
...            ...       ...          ...                     ...
9  2.84  35.851799 -0.168950    250698924               250698924
   2.88  35.851799 -0.113230    250698924               250698924
   2.92  35.851799 -0.168945    250698924               250698924
   2.96  35.851799 -0.168942    250698924               250698924
   3.00  35.851799       NaN    250698924               250698924

        nearest_edge_end_node edge_progress  dir  time_stamp  \
id time
1  0.00             250698926       0.27686    1        0.00
   0.04             250698926       0.27745    1        0.04
   0.08             250698926       0.27804    1        0.08
   0.12             250698926      0.278435    1        0.12
   0.16             250698926      0.279026    1        0.16
...                       ...           ...  ...         ...
9  2.84             250698926      0.275281    1        2.84
   2.88             250698926      0.277062    1        2.88
   2.92             250698926      0.278619    1        2.92
   2.96             250698926        0.2804    1        2.96
   3.00             250698926      0.282181    1        3.00

        edge_progress_intervals  vehicle_density  avg_surr_speed
id time
1  0.00                     0.2                5       21.443540
   0.04                     0.2                5       21.442560
   0.08                     0.2                5       21.444160
   0.12                     0.2                4       24.302500
   0.16                     0.2                5       21.454180
...                         ...              ...             ...
9  2.84                     0.2                3       22.763433
   2.88                     0.2                3       22.778533
   2.92                     0.2                3       22.793533
   2.96                     0.2                3       22.808500
   3.00                     0.2                3       22.823033

[534 rows x 18 columns]

In [13]:
pickle_df(df,pickle_name='sample_augmented.pkl')