In [ ]:
"""demonstration.ipynb
by: 
- Sheil Kumar (sk17@illinois.edu)
- Anirudh Eswara (aeswara2@illinois.edu)
Project director: Richard Sowers
r-sowers@illinois.eduhttps://publish.illinois.edu/r-sowers/
Copyright 2019 University of Illinois Board of Trustees. All Rights Reserved. Licensed under the MIT license
"""

# Notebook to Demonstrate Usage of Features and Functions 

This notebook serves to show how the features in `data.py` and `feature_eng.py` work

In [1]:
from data import *
from feature_eng import *

## 1.0 Data.py

- Functions:
  - `csv_to_df`
  - `pickle_df`

In [3]:
#csv_to_df
df = csv_to_df('sample.csv') #simply need to feed in name of .csv file containing dat a
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed
id time
1  0.00  10.850992
   0.04  10.850992
   0.08  10.850992
   0.12  10.850992
   0.16  10.850992
...            ...
9  2.84  35.851799
   2.88  35.851799
   2.92  35.851799
   2.96  35.851799
   3.00  35.851799

[534 rows x 8 columns]

In [4]:
#pickle_df 
df_pickle = pickle_df(df,pickle_name='sample.pkl') #simply need to feed in dataframe and desired name for .pkl file

## 2.0 feature_eng.py

- Functions:
    - `bearing`
    - `nearest_graph_data`
    - `direction`
    - `vehicle_density`

In [5]:
#bearing
df = csv_to_df('sample.csv') #first  need to create df using csv_to_df
df = bearing(df) #using bearing will then return a df with bearing as a column 
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed   bearing
id time
1  0.00  10.850992 -0.169007
   0.04  10.850992 -0.169006
   0.08  10.850992  0.000000
   0.12  10.850992 -0.169005
   0.16  10.850992 -0.169004
...            ...       ...
9  2.84  35.851799 -0.168950
   2.88  35.851799 -0.113230
   2.92  35.851799 -0.168945
   2.96  35.851799 -0.168942
   3.00  35.851799       NaN

[534 rows x 9 columns]

In [7]:
#nearest_graph_data 
df = csv_to_df('sample.csv') #first  need to create df using csv_to_df
graph = ox.graph_from_address('Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece', network_type='drive')  #need to provide graph from osmnx as well 
df = nearest_graph_data(df, graph) #nearest_graph_data will then return multiple features regarding the node and edge per id 
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed  nearest_node  nearest_edge_start_node  \
id time
1  0.00  10.850992     250698924                250698924
   0.04  10.850992     250698924                250698924
   0.08  10.850992     250698924                250698924
   0.12  10.850992     250698924                250698924
   0.16  10.850992     250698924                250698924
...            ...           ...                      ...
9  2.84  35.851799     250698924                250698924
   2.88  35.851799     250698924                250698924
   2.92  35.851799     250698924                250698924
   2.96  35.851799     250698924                250698924
   3.00  35.851799     250698924                250698924

         nearest_edge_end_node  edge_progress
id time
1  0.00              250698925       0.470782
   0.04              250698925       0.471786
   0.08              250698925       0.472789
   0.12              250698925       0.473461
   0.16              250698925       0.474465
...                        ...            ...
9  2.84              250698925       0.468097
   2.88              250698925       0.471126
   2.92              250698925       0.473773
   2.96              250698925       0.476802
   3.00              250698925       0.479830

[534 rows x 12 columns]

In [8]:
# direction
df = csv_to_df('sample.csv') #first  need to create df using csv_to_df
graph = ox.graph_from_address('Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece', network_type='drive')  #need to provide graph from osmnx as well 
df = nearest_graph_data(df, graph) # need to run nearest_graph_data on df first as well
df = direction(df) # running direction on dataframe will then return a df with the direction as a column 
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
9  2.84  37.979802  23.733362  37.4951   0.0222  -0.0207  Car       29.88
   2.88  37.979805  23.733359  37.4989   0.0148  -0.0195  Car       29.88
   2.92  37.979808  23.733357  37.5021   0.0101  -0.0183  Car       29.88
   2.96  37.979811  23.733354  37.5046   0.0022  -0.0171  Car       29.88
   3.00  37.979814  23.733351  37.5060  -0.0096  -0.0159  Car       29.88

         avg_speed  nearest_node  nearest_edge_start_node  \
id time
1  0.00  10.850992     250698924                250698924
   0.04  10.850992     250698924                250698924
   0.08  10.850992     250698924                250698924
   0.12  10.850992     250698924                250698924
   0.16  10.850992     250698924                250698924
...            ...           ...                      ...
9  2.84  35.851799     250698924                250698924
   2.88  35.851799     250698924                250698924
   2.92  35.851799     250698924                250698924
   2.96  35.851799     250698924                250698924
   3.00  35.851799     250698924                250698924

         nearest_edge_end_node  edge_progress  dir
id time
1  0.00              250698925       0.470782    1
   0.04              250698925       0.471786    1
   0.08              250698925       0.472789    1
   0.12              250698925       0.473461    1
   0.16              250698925       0.474465    1
...                        ...            ...  ...
9  2.84              250698925       0.468097    1
   2.88              250698925       0.471126    1
   2.92              250698925       0.473773    1
   2.96              250698925       0.476802    1
   3.00              250698925       0.479830    1

[534 rows x 13 columns]

In [5]:
#vehicle_density
df = csv_to_df('sample.csv') #first  need to create df using csv_to_df
graph = ox.graph_from_address('Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece', network_type='drive')  #need to provide graph from osmnx as well 
df = nearest_graph_data(df, graph) # need to run nearest_graph_data on df first as well
df = direction(df) # need to run direction as directions are needed to calculate vehicles by lane 
vehicle_density(df) #running vehicle_density then returns the number of vehicles per start_node and end_node pairs, still needs to be reformatted and added back to main df

                                                                               id
                                                                          nunique
nearest_edge_start_node nearest_edge_end_node dir edge_progress_intervals
250698924               250698925             0   0.4                           1
                                              1   0.2                           3
                                                  0.3                           5
                                                  0.4                           9