In [5]:
from data import csv_to_df
from feature_eng import nearest_graph_data, direction
import osmnx as ox
import pandas as pd

In [6]:
df = csv_to_df('sample.csv')[:100]
graph = ox.graph_from_address(
    'Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece', 
    network_type='drive'
)
df = nearest_graph_data(df, graph)
df

               lat        lon    speed  lon_acc  lat_acc type  traveled_d  \
id time
1  0.00  37.979838  23.733420  11.6261   0.0000  -0.0000  Car        1.81
   0.04  37.979839  23.733419  11.6261  -0.0000  -0.0000  Car        1.81
   0.08  37.979840  23.733418  11.6261   0.0000  -0.0000  Car        1.81
   0.12  37.979841  23.733418  11.6261  -0.0000  -0.0000  Car        1.81
   0.16  37.979842  23.733417  11.6261  -0.0000   0.0000  Car        1.81
...            ...        ...      ...      ...      ...  ...         ...
4  0.88  37.979791  23.733461  11.5642   1.4709  -0.1422  Car        9.85
   0.92  37.979792  23.733460  11.7780   1.4995  -0.1380  Car        9.85
   0.96  37.979793  23.733459  11.9956   1.5222  -0.1328  Car        9.85
   1.00  37.979794  23.733459  12.2160   1.5392  -0.1268  Car        9.85
   1.04  37.979795  23.733458  12.4364   1.5218  -0.1198  Car        9.85

         avg_speed  nearest_node  nearest_edge_start_node  \
id time
1  0.00  10.850992     250698924                250698924
   0.04  10.850992     250698924                250698924
   0.08  10.850992     250698924                250698924
   0.12  10.850992     250698924                250698924
   0.16  10.850992     250698924                250698924
...            ...           ...                      ...
4  0.88  12.660487     250698924                250698924
   0.92  12.660487     250698924                250698924
   0.96  12.660487     250698924                250698924
   1.00  12.660487     250698924                250698924
   1.04  12.660487     250698924                250698924

         nearest_edge_end_node  edge_progress
id time
1  0.00              250698925       0.470782
   0.04              250698925       0.471786
   0.08              250698925       0.472789
   0.12              250698925       0.473461
   0.16              250698925       0.474465
...                        ...            ...
4  0.88              250698925       0.425600
   0.92              250698925       0.426603
   0.96              250698925       0.427607
   1.00              250698925       0.428280
   1.04              250698925       0.429284

[100 rows x 12 columns]

In [40]:
def direction1(df):
    df_1 = df
    df_2 = df.shift(-1)

    df3 = (df_1['edge_progress'] < df_2['edge_progress']).astype(int)
    if len(df3) > 1:
        df3.iloc[-1] = df3.iloc[-2]
    return df3

In [41]:
df2 = df.groupby(['id', 'nearest_edge_start_node', 'nearest_edge_end_node'], as_index=False, group_keys=False).apply(direction1)
df2

id  time
1   0.00    1
    0.04    1
    0.08    1
    0.12    1
    0.16    1
           ..
4   0.88    1
    0.92    1
    0.96    1
    1.00    1
    1.04    1
Name: edge_progress, Length: 100, dtype: int64

In [24]:
direction1(df, 4)

id  time
4   0.00    1
    0.04    1
    0.08    1
    0.12    1
    0.16    1
    0.20    1
    0.24    1
    0.28    1
    0.32    1
    0.36    1
    0.40    1
    0.44    1
    0.48    1
    0.52    1
    0.56    1
    0.60    1
    0.64    1
    0.68    1
    0.72    1
    0.76    1
    0.80    1
    0.84    1
    0.88    1
    0.92    1
    0.96    1
    1.00    1
    1.04    1
Name: edge_progress, dtype: int64