In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [4]:
import osmnx as ox
import pandas as pd
import numpy as np
from Data import Data 
import networkx as nx
from networkx import algorithms

In [27]:
graph = ox.graph_from_address('Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece', network_type='drive')

In [28]:
df = pd.read_pickle("Data_sample.pkl")
X = df.copy()

In [29]:
nodes = ox.distance.get_nearest_nodes(graph, X['lat'], X['lon'], method='kdtree')
edges = ox.distance.get_nearest_edges(graph, X['lat'], X['lon'], method='kdtree')

In [30]:
df['Nearest Node'] = nodes
df['Nearest Edge First NodeID'] =  [edge[0] for edge in edges]
df['Nearest Edge Second NodeID'] =  [edge[1] for edge in edges]

In [31]:
df

                lat        lon    speed  lon_acc  lat_acc  type  traveled_d  \
id time
1  0.00   37.977482  23.735405  34.0206  -0.0167   0.0074  Taxi      320.26
   0.04   37.977485  23.735402  34.0197   0.0040   0.0086  Taxi      320.26
   0.08   37.977488  23.735400  34.0211   0.0167   0.0097  Taxi      320.26
   0.12   37.977491  23.735398  34.0245   0.0294   0.0108  Taxi      320.26
   0.16   37.977494  23.735395  34.0305   0.0540   0.0120  Taxi      320.26
...             ...        ...      ...      ...      ...   ...         ...
5  29.24  37.979836  23.733313  36.8072  -3.7893   1.1652   Car      272.25
   29.28  37.979838  23.733311  36.4768  -3.8277   1.1690   Car      272.25
   29.32  37.979841  23.733309  36.1375  -3.8118   1.1665   Car      272.25
   29.36  37.979844  23.733306  35.7859  -3.8818   1.1568   Car      272.25
   29.40  37.979847  23.733304  35.4092  -4.0068   1.1387   Car      272.25

          avg_speed  Nearest Node  Nearest Edge First NodeID  \
id time
1  0.00   35.366264     250692401                  250692418
   0.04   35.366264     250692401                  250692418
   0.08   35.366264     250692401                  250692418
   0.12   35.366264     250692401                  250692418
   0.16   35.366264     250692401                  250692418
...             ...           ...                        ...
5  29.24  33.336716     250692401                  250692418
   29.28  33.336716     250692401                  250692418
   29.32  33.336716     250692401                  250692418
   29.36  33.336716     250692401                  250692418
   29.40  33.336716     250692401                  250692418

          Nearest Edge Second NodeID
id time
1  0.00                    250692401
   0.04                    250692401
   0.08                    250692401
   0.12                    250692401
   0.16                    250692401
...                              ...
5  29.24                   250692401
   29.28                   250692401
   29.32                   250692401
   29.36                   250692401
   29.40                   250692401

[3460 rows x 11 columns]

In [35]:
def Distance_achieved(edge_node1,edge_node2,vehicle_location):
    #assuming that edge_node1 is the starting point
    lon0 = graph.nodes[edge_node1]['x']
    lon1 = graph.nodes[edge_node1]['x']
    lat0 = graph.nodes[edge_node1]['y']
    lat1 = graph.nodes[edge_node2]['y']
    lonV, latV = vehicle_location
    a = Distance_Euc(lon0, lat0, lon1, lat1)
    b = Distance_Euc(lon0, lat0, lonV, latV)
    return b/a

In [36]:
def Distance_Euc(lon0, lat0, lon1, lat1):
    dlon = lon1 - lon0
    dlat = lat1 - lat0
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return 6373.0*c

KeyError: 7813658489