In [39]:
import numpy as np
import pandas as pd
from data import csv_to_df
from time import time

In [119]:
df = csv_to_df('sample_larger.csv')

In [199]:
def truncate_to_multiple(n, m):
    return m * (n // m)

def truncate_trajectory(traj, size):
    n = len(traj)
    new_len = truncate_to_multiple(n, size)
    return traj[:new_len]

def split_group(df, size):
    df2 = df.copy()
    df2['traj'] = None
    df2.loc[::size, 'traj'] = np.arange(len(df2[::size]), dtype=int)
    df2['traj'].ffill(inplace=True)
    df2.set_index('traj', append=True, inplace=True)
    df2 = truncate_trajectory(df2, size)
    df2 = df2.reorder_levels([0,2,1])
    return df2

def split_trajectories(df, size):
    return df.groupby('id', as_index=False, group_keys=False) \
            .apply(lambda traj: split_group(traj, size))

In [204]:
split_trajectories(df, 3)

                       lat        lon    speed  lon_acc  lat_acc  type  \
id  traj time
1   0    0.00    37.977482  23.735405  34.0206  -0.0167   0.0074  Taxi
         0.04    37.977485  23.735402  34.0197   0.0040   0.0086  Taxi
         0.08    37.977488  23.735400  34.0211   0.0167   0.0097  Taxi
    1    0.12    37.977491  23.735398  34.0245   0.0294   0.0108  Taxi
         0.16    37.977494  23.735395  34.0305   0.0540   0.0120  Taxi
...                    ...        ...      ...      ...      ...   ...
498 476  117.16  37.976108  23.734447  15.7278  -1.6761  -1.0345   Car
         117.20  37.976108  23.734445  15.5520  -1.6828  -1.0137   Car
    477  117.24  37.976108  23.734443  15.3720  -1.6492  -0.9860   Car
         117.28  37.976107  23.734441  15.1933  -1.5682  -0.9499   Car
         117.32  37.976107  23.734440  15.0228  -1.4310  -0.9036   Car

                 traveled_d  avg_speed
id  traj time
1   0    0.00        320.26  35.366264
         0.04        320.26  35.366264
         0.08        320.26  35.366264
    1    0.12        320.26  35.366264
         0.16        320.26  35.366264
...                     ...        ...
498 476  117.16      141.47   8.872855
         117.20      141.47   8.872855
    477  117.24      141.47   8.872855
         117.28      141.47   8.872855
         117.32      141.47   8.872855

[845145 rows x 8 columns]