In [1]:
import numpy as np 
import pandas as pd
from Data import Data 
import matplotlib.pyplot as plt

In [8]:
Dataframe = Data("sample_larger.csv")

In [47]:
Dataframe.df

                  lat        lon    speed  lon_acc  lat_acc  type  traveled_d  \
id  time
1   0.00    37.977482  23.735405  34.0206  -0.0167   0.0074  Taxi      320.26
    0.04    37.977485  23.735402  34.0197   0.0040   0.0086  Taxi      320.26
    0.08    37.977488  23.735400  34.0211   0.0167   0.0097  Taxi      320.26
    0.12    37.977491  23.735398  34.0245   0.0294   0.0108  Taxi      320.26
    0.16    37.977494  23.735395  34.0305   0.0540   0.0120  Taxi      320.26
...               ...        ...      ...      ...      ...   ...         ...
498 117.24  37.976108  23.734443  15.3720  -1.6492  -0.9860   Car      141.47
    117.28  37.976107  23.734441  15.1933  -1.5682  -0.9499   Car      141.47
    117.32  37.976107  23.734440  15.0228  -1.4310  -0.9036   Car      141.47
    117.36  37.976107  23.734438  14.8672  -1.2553  -0.8471   Car      141.47
    117.40  37.976106  23.734436  14.7286  -1.0897  -0.7889   Car      141.47

            avg_speed
id  time
1   0.00    35.366264
    0.04    35.366264
    0.08    35.366264
    0.12    35.366264
    0.16    35.366264
...               ...
498 117.24   8.872855
    117.28   8.872855
    117.32   8.872855
    117.36   8.872855
    117.40   8.872855

[845628 rows x 8 columns]

In [93]:
Vehicle = pd.Series(Dataframe.df["type"].unique())

In [112]:
mean_speed = {}
median_speed = {}
mean_lon_acc = {}
mean_lat_acc = {}
for i in Dataframe.df["type"].unique():
    mean_speed[i] = np.mean(Dataframe.df[Dataframe.df["type"]==i]["speed"])
    median_speed[i] = np.median(Dataframe.df[Dataframe.df["type"]==i]["speed"])
    mean_lon_acc[i] = np.mean(Dataframe.df[Dataframe.df["type"]==i]["lon_acc"])
    mean_lat_acc[i] = np.mean(Dataframe.df[Dataframe.df["type"]==i]["lat_acc"])

In [102]:
Stats = pd.DataFrame(index=Vehicle)
Stats.index.name = "Vehicles"

In [115]:
Stats['mean_speed'] = Stats.index.to_series().map(mean_speed)
Stats['median_speed'] = Stats.index.to_series().map(median_speed)
Stats['mean_lon_acc'] = Stats.index.to_series().map(mean_lon_acc)
Stats['mean_lat_acc'] = Stats.index.to_series().map(mean_lat_acc)

In [116]:
Stats

                mean_speed  median_speed  mean_lon_acc  mean_lat_acc
Vehicles
Taxi             13.176267        9.0337      0.027487      0.008622
Bus               6.177127        0.0000      0.004286      0.013791
Car              14.376883       10.9826      0.034161      0.009198
Motorcycle       17.321996       12.3168      0.014790      0.002600
Medium Vehicle    7.044667        0.0000      0.024608      0.012723
Heavy Vehicle     2.976959        0.0000      0.018361     -0.005499