In [ ]:
"""statistics.ipynb
by: Sheil Kumar (sk17@illinois.edu)
Project director: Richard Sowers
r-sowers@illinois.eduhttps://publish.illinois.edu/r-sowers/
Copyright 2019 University of Illinois Board of Trustees. All Rights Reserved. Licensed under the MIT license
"""

In [41]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import time 
import osmnx as ox
from data import csv_to_df, pickle_df

In [5]:
!which python

/home/sheil/miniconda3/envs/ox/bin/python

In [6]:
Dataframe = csv_to_df("sample_larger.csv")

In [7]:
Dataframe

                  lat        lon    speed  lon_acc  lat_acc  type  traveled_d  \
id  time
1   0.00    37.977482  23.735405  34.0206  -0.0167   0.0074  Taxi      320.26
    0.04    37.977485  23.735402  34.0197   0.0040   0.0086  Taxi      320.26
    0.08    37.977488  23.735400  34.0211   0.0167   0.0097  Taxi      320.26
    0.12    37.977491  23.735398  34.0245   0.0294   0.0108  Taxi      320.26
    0.16    37.977494  23.735395  34.0305   0.0540   0.0120  Taxi      320.26
...               ...        ...      ...      ...      ...   ...         ...
498 117.24  37.976108  23.734443  15.3720  -1.6492  -0.9860   Car      141.47
    117.28  37.976107  23.734441  15.1933  -1.5682  -0.9499   Car      141.47
    117.32  37.976107  23.734440  15.0228  -1.4310  -0.9036   Car      141.47
    117.36  37.976107  23.734438  14.8672  -1.2553  -0.8471   Car      141.47
    117.40  37.976106  23.734436  14.7286  -1.0897  -0.7889   Car      141.47

            avg_speed
id  time
1   0.00    35.366264
    0.04    35.366264
    0.08    35.366264
    0.12    35.366264
    0.16    35.366264
...               ...
498 117.24   8.872855
    117.28   8.872855
    117.32   8.872855
    117.36   8.872855
    117.40   8.872855

[845628 rows x 8 columns]

In [8]:

Vehicle = pd.Series(Dataframe["type"].unique())

In [47]:
mean_speed = {}
median_speed = {}
mean_lon_acc = {}
mean_lat_acc = {}
std_speed = {}
std_lon_acc = {}
std_lat_acc = {}
max_lat = {}
min_lat = {}
max_lon = {}
min_lon = {}
for i in Dataframe["type"].unique():
    mean_speed[i] = np.mean(Dataframe[Dataframe["type"]==i]["speed"])
    median_speed[i] = np.median(Dataframe[Dataframe["type"]==i]["speed"])
    std_speed[i] = np.std(Dataframe[Dataframe["type"]==i]["speed"])
    mean_lon_acc[i] = np.mean(Dataframe[Dataframe["type"]==i]["lon_acc"])
    mean_lat_acc[i] = np.mean(Dataframe[Dataframe["type"]==i]["lat_acc"])
    std_lon_acc[i] = np.std(Dataframe[Dataframe["type"]==i]["lon_acc"])
    std_lat_acc[i] = np.std(Dataframe[Dataframe["type"]==i]["lat_acc"])
    max_lat[i] = np.max(Dataframe[Dataframe["type"]==i]["lat"])
    min_lat[i] = np.min(Dataframe[Dataframe["type"]==i]["lat"])
    max_lon[i] = np.max(Dataframe[Dataframe["type"]==i]["lon"])
    min_lon[i] = np.min(Dataframe[Dataframe["type"]==i]["lon"])

In [49]:
Stats = pd.DataFrame(index=Vehicle)
Stats.index.name = "Vehicles"

In [51]:
Stats['mean_speed'] = Stats.index.to_series().map(mean_speed)
Stats['median_speed'] = Stats.index.to_series().map(median_speed)
Stats['std_speed'] = Stats.index.to_series().map(std_speed)
Stats['mean_lon_acc'] = Stats.index.to_series().map(mean_lon_acc)
Stats['std_lon_acc'] = Stats.index.to_series().map(std_lon_acc)
Stats['mean_lat_acc'] = Stats.index.to_series().map(mean_lat_acc)
Stats['std_lat_acc'] = Stats.index.to_series().map(std_lat_acc)
Stats['max_lat'] = Stats.index.to_series().map(max_lat)
Stats['min_lat'] = Stats.index.to_series().map(min_lat)
Stats['max_lon'] = Stats.index.to_series().map(max_lon)
Stats['min_lon'] = Stats.index.to_series().map(min_lon)

In [53]:
#add standard deviations 
#add max longitude, max lat, min lat, min lon
Stats

/home/sheil/miniconda3/envs/ox/lib/python3.9/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,mean_speed,median_speed,std_speed,mean_lon_acc,std_lon_acc,mean_lat_acc,std_lat_acc,max_lat,min_lat,max_lon,min_lon
Vehicles,,,,,,,,,,,
Taxi,13.176267,9.0337,14.339034,0.027487,0.669431,0.008622,0.323818,37.979888,37.975622,23.736682,23.732177
Bus,6.177127,0.0000,10.689885,0.004286,0.451649,0.013791,0.198336,37.979906,37.975610,23.736629,23.733366
Car,14.376883,10.9826,15.020300,0.034161,0.728065,0.009198,0.346535,37.979885,37.975578,23.736671,23.732186
Motorcycle,17.321996,12.3168,18.654626,0.014790,1.025069,0.002600,0.431949,37.979893,37.975577,23.736684,23.732163
Medium Vehicle,7.044667,0.0000,12.058894,0.024608,0.510723,0.012723,0.264508,37.979836,37.975670,23.736673,23.732213
Heavy Vehicle,2.976959,0.0000,6.282516,0.018361,0.333200,-0.005499,0.115560,37.978601,37.977502,23.735845,23.733274