In [15]:
"""statistics.ipynb
by: 
- Sheil Kumar (sk17@illinois.edu)
- Archie Gertsman (arkadiy2@illinois.edu)
Project director: Richard Sowers
r-sowers@illinois.eduhttps://publish.illinois.edu/r-sowers/
Copyright 2019 University of Illinois Board of Trustees. All Rights Reserved. Licensed under the MIT license
"""

'statistics.ipynb\nby: \n- Sheil Kumar (sk17@illinois.edu)\n- Archie Gertsman (arkadiy2@illinois.edu)\nProject director: Richard Sowers\nr-sowers@illinois.eduhttps://publish.illinois.edu/r-sowers/\nCopyright 2019 University of Illinois Board of Trustees. All Rights Reserved. Licensed under the MIT license\n'

In [16]:
from data import csv_to_df

In [17]:
df = csv_to_df("sample_larger.csv")

In [18]:
df.groupby('type').agg({
    'speed': ['mean', 'median', 'std'],
    'lon_acc': ['mean', 'std'],
    'lat_acc': ['mean', 'std'],
    'lon': ['min', 'max'],
    'lat': ['min', 'max']
})

                    speed                       lon_acc             lat_acc  \
                     mean   median        std      mean       std      mean
type
Bus              6.177127   0.0000  10.690039  0.004286  0.451655  0.013791
Car             14.376883  10.9826  15.020322  0.034161  0.728066  0.009198
Heavy Vehicle    2.976959   0.0000   6.282623  0.018361  0.333205 -0.005499
Medium Vehicle   7.044667   0.0000  12.058974  0.024608  0.510726  0.012723
Motorcycle      17.321996  12.3168  18.654670  0.014790  1.025071  0.002600
Taxi            13.176267   9.0337  14.339080  0.027487  0.669433  0.008622

                                lon                   lat
                     std        min        max        min        max
type
Bus             0.198339  23.733366  23.736629  37.975610  37.979906
Car             0.346535  23.732186  23.736671  37.975578  37.979885
Heavy Vehicle   0.115562  23.733274  23.735845  37.977502  37.978601
Medium Vehicle  0.264510  23.732213  23.736673  37.975670  37.979836
Motorcycle      0.431950  23.732163  23.736684  37.975577  37.979893
Taxi            0.323819  23.732177  23.736682  37.975622  37.979888